{% extends "base.html" %}
{% load bootstrap3 tournament_extras %}

{% block title %}About - {{ league.name }}{% endblock %}

{% block content %}
    <div class="row row-condensed-xs">
        <div class="col-md-12">
            <div class="well" id="well-about">
                <div class="well-head">
                    <h3>About</h3>
                </div>
                <div class="well-body">
                    <p>Lichess leagues are a place for players to organize long chess games on <a
                            href="https://lichess.org/">lichess.org</a>.</p>
                    <p>The leagues are managed by volunteer moderators. We use <a href="https://lichess4545.slack.com/">Slack</a>
                        as our main form of communication.</p>
                    <p>We are officially a part of the lichess.org site ("Lichess").</p>
                    <p>Visit the league <a href="/">home pages</a> for more information about each league.</p>
                    <p>Lichess4545.com is an open source project. Find us on <a
                            href="https://github.com/Lichess4545/heltour">Github</a>.</p>
                    <p>The site is built using <a href="https://www.djangoproject.com/">Django</a>. Icons from <a
                            href="https://icons8.com/">icons8</a>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
