{% extends "base.html" %}
{% load bootstrap3 tournament_extras staticfiles %}

{% block title %}Availability - {{ season.name }} - {{ league.name }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'lib/css/bootstrap-toggle.min.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'lib/js/bootstrap-toggle.min.js' %}"></script>
{% endblock %}

{% block content %}
    <script type="text/javascript" src="{% static 'lib/js/bootstrap-toggle.min.js' %}"></script>
    <div class="row row-condensed-xs">
        <div class="col-md-12">
            <div class="well">
                <div class="well-head">
                    <h3>Edit Availability</h3>
                </div>
                <div class="well-body">
                    <p>Welcome, {{ player.lichess_username }}!</p>
                    {% if league.competitor_type != 'team' %}
                        <p>
                            You can edit your availability for each round. Or, you can
                            <strong><a href="{% leagueurl 'modrequest' league.tag season.tag 'withdraw' %}">withdraw</a></strong>
                            altogether.
                        </p>
                    {% endif %}

                    <form action="" method="post">
                        {% csrf_token %}
                        <table class="table" id="table-availability">
                            <thead>
                            <tr>
                                <th colspan="2">Availability</th>
                                {% for p in player_list %}
                                    <th class="text-center">{{ p.lichess_username }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for r, av_list in round_data %}
                                <tr>
                                    <td>Round {{ r.number }}</td>
                                    <td>{{ r.start_date|date_or_q:'%b %-d' }} - {{ r.end_date|date_or_q:'%b %-d' }}</td>
                                    {% for p, is_av, cannot_change in av_list %}
                                        <td>
                                            <input type="checkbox" name="av_r{{ r.number }}_{{ p.lichess_username }}"
                                                   data-toggle="toggle" data-on="Unavailable" data-off="Available"
                                                   data-onstyle="default" data-offstyle="success" data-size="small"
                                                   {% if not is_av %}checked{% endif %}
                                                   {% if cannot_change %} disabled="true" {% endif %}
                                            />
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
