{% extends "base.html" %}
{% load bootstrap3 tournament_extras %}

{% block title %}Contact - {{ league.name }}{% endblock %}

{% block content %}
    <div class="row row-condensed-xs">
        <div class="col-md-12">
            <div class="well" id="well-contact">
                <div class="well-head">
                    <h3>Contact</h3>
                </div>
                <div class="well-body">
                    <p>Message sent.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
