{% extends "base.html" %}
{% load bootstrap3 tournament_extras %}
{% block title %}Contact - {{ league.name }}{% endblock %}
{% block content %}
    <div class="row row-condensed-xs">
        <div class="col-md-12">
            <div class="well" id="well-contact">
                <div class="well-head">
                    <h3>Contact</h3>
                </div>
                <div class="well-body">
                    <p>
                        Have any questions about the
                        {% if chatbackend_render %}
                            league or need help getting on {{ chatbackend }}?
                        {% else %}
                            league?
                        {% endif %}
                        Use this form.
                    </p>
                    {% if chatbackend_render %}
                        {% if slack_linked %}
                            <p>
                                <span style="color: #c00">You are already on {{ chatbackend }}. If at all possible, please ask your question there.</span>
                            </p>
                        {% else %}
                            <p>If you are already on {{ chatbackend }}, please ask your question there instead.</p>
                        {% endif %}
                    {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
