{% load staticfiles tournament_extras %}
<div class="well">
    <div class="well-head">
        <div class="inline">
            <h3>{{ document.name }}</h3>
        </div>{% if can_edit_document %}
        <div class="inline document-edit">
            <a href="{% url 'admin:tournament_document_change' document.pk %}?_popup=1" id="change-document-{{ document.pk }}" class="large-popup-link" title="Change selected document">
                <img src="{% static 'admin/img/icon-changelink.svg' %}" alt="Change">
            </a>
        </div>{% endif %}
    </div>
    <div class="well-body">
        {{ document.content|safe }}
    </div>
</div>
