{% extends "empty_base.html" %}
{% load static tournament_extras %}
{% block title %}Lichess Leagues{% endblock %}
{% block body %}
    <div id="home-container">
        <div class="container" id="home-league-list">
            <div class="row">
                {% if leagues %}
                    {% for l in leagues %}
                        <div class="col-sm-6 col-xs-12">
                            <a href="{% leagueurl 'league_home' l.tag None %}"
                               class="league-home-container">
                                <div class="league-homelink league-homelink-{{ l.theme }}">{{ l.name }}</div>
                                <div class="league-home-details">
                                    <p class="league-home-desc">{{ l.description }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>This site is currently being set up. Please check back later.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
