{% extends "base.html" %}
{% load staticfiles %}
{% load tournament_extras %}

{% block title %}{{ league.name }}{% endblock %}

{% block content %}
<div class="row row-condensed-xs home-row">
	<div class="col-md-6 col-xs-12">
		{% if intro_doc %}
		<div class="well">
			<div class="well-head">
				<div class="inline">
					<h3>{{ intro_doc.document.name }}</h3>
				</div>{% if can_edit_document %}
				<div class="inline document-edit">
					<a href="{% url 'admin:tournament_document_change' intro_doc.document.pk %}?_popup=1" id="change-document-{{ intro_doc.document.pk }}" class="large-popup-link" title="Change selected document">
			            <img src="{% static 'admin/img/icon-changelink.svg' %}" alt="Change">
			        </a>
		        </div>{% endif %}
		    </div>
		    <div class="well-body">
				{{ intro_doc.document.content|safe }}
				{% if rules_doc_tag %}
				<a href="{% leagueurl 'document' league_tag season_id rules_doc_tag %}" class="btn btn-default">Rules and Regulations</a>
				{% endif %}
			</div>
		</div>
		{% endif %}
		{% if registration_season %}
		<div class="well">
			<div class="well-head">
				<h3>Registration is open!</h3>
			</div>
		    <div class="well-body">
		    	{% if registration_season.is_started %}
		    	<p>{{ registration_season.name }} ends on {{ registration_season.end_date|date_or_q }}.</p>
		    	{% else %}
				<p>{{ registration_season.name }} starts on {{ registration_season.start_date|date_or_q }}.</p>
				{% endif %}
				<a href="{% leagueurl 'register' league_tag season_id %}" class="btn btn-default">Register Now</a>
			</div>
		</div>
		{% endif %}
		{% if current_games or upcoming_games %}
		<div class="well">
			<div class="well-head">
				<h3>Ongoing Games</h3>
			</div>
		    <div class="well-body">
				{% if current_games %}
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Players</th>
							<th>Start Time</th>
						</tr>
					</thead>
					<tbody>
						{% for pairing in current_games %}
						<tr>
							<td><a href="{{ pairing.game_link }}">{{ pairing.white }} - {{ pairing.black }}</a></td>
							<td>{{ pairing.scheduled_time | date:"H:i" }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% endif %}
				{% if upcoming_games %}
				<h4>Starting Soon</h4>
				<table class="table">
					<tr>
						<th>Players</th>
						<th>Start Time</th>
					</tr>
					{% for pairing in upcoming_games %}
					<tr>
						<td>{{ pairing.white }} - {{ pairing.black }}</td>
						<td>{{ pairing.scheduled_time | date:"H:i" }}</td>
					</tr>
					{% endfor %}
				</table>
				{% endif %}
				<p>All times are in UTC.</p>
			</div>
		</div>
		{% endif %}
	</div>
	<div class="col-md-6 col-xs-12">
		{% if team_scores %}
		<div class="well">
			<div class="well-head">
				<h3>{{ season.name }} Standings</h3>
			</div>
		    <div class="well-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Team</th>
							<th class="text-center">Match Points</th>
							<th class="text-center">Game Points</th>
						</tr>
					</thead>
					<tbody>
						{% for number, team_score in team_scores %}
						<tr>
							<td class="text-center cell-teamnumber">{{ number }}</td>
							<td>{{ team_score.team.name }}</td>
							<td class="text-center">{{ team_score.match_points_display }}</td>
							<td class="text-center">{{ team_score.game_points_display }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<a href="{% leagueurl 'standings' league_tag season_id %}" class="btn btn-default">Full Standings</a>
				<a href="{% leagueurl 'season_landing' league_tag season_id %}" class="btn btn-default">Season Details</a>
			</div>
		</div>
		{% endif %}
		{% if season_list %}
		<div class="well">
			<div class="well-head">
				<h3>Previous Seasons</h3>
			</div>
		    <div class="well-body">
				<div class="dropdown">
				    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
				        Choose a Season
				        <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu">
					    {% for s in season_list %}
					    <li><a href="{% leagueurl 'season_landing' league_tag s.pk %}">{{ s.name }}</a></li>
					    {% endfor %}
				    </ul>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
