{% extends "base.html" %}
{% load staticfiles tournament_extras %}

{% block title %}Wallchart - {{ season.name }} - {{ league.name }}{% endblock %}

{% block nav_wallchart %}active{% endblock %}

{% block content %}
<div class="row row-condensed-xs">
	<div class="col-md-12">
		<div class="well">
			<div class="well-head">
				<div class="inline">
					<h3>Wallchart</h3>
				</div>
			</div>
			<div class="well-body">
				{% include 'tournament/section_switcher.html' %}
				{% if player_scores %}
				<div class="table-responsive">
					<table class="table table-striped table-condensed-sm" id="table-lone-standings">
						<thead>
							<tr>
								<th></th>
								<th>Name/Rating</th>
								{% for round_number in round_numbers %}
								<th class="text-left">Rd {{ round_number }}</th>
								{% endfor %}
								<th class="text-center">Tot</th>
							</tr>
						</thead>
						<tbody>
							{% for number, player_score, round_scores in player_scores %}
							<tr>
								<td class="text-center">{{ number }}</td>
								<td class="{% highlightclass player_highlights player_score.season_player.player %}">
									<a href="{% leagueurl 'player_profile' league.tag season.tag player_score.season_player.player.lichess_username %}">
										{{ player_score.season_player.player.lichess_username }}
									</a>
								</td>
								{% for result_code, opponent_num, color, cumul_score in round_scores %}
								<td class="text-left">
									{% if result_code == 'H' %}
									bye
									{% else %}
									{{ color|default_if_none:'--' }}{% if opponent_num %} {{ opponent_num }}{% else %}--{% endif %}
									{% endif %}
									</td>
								{% endfor %}
								<td class="text-center">{{ player_score.final_standings_points_display }}</td>
							</tr>
							<tr>
								<td></td>
								<td class="text-left">{% seed_rating player_score.season_player %}</td>
								{% for result_code, opponent_num, color, cumul_score in round_scores %}
								<td class="text-left">
									{% if result_code %}
									{% if result_code == 'U' or result_code == 'X' or result_code == 'F' or result_code == 'Z' %}{{ result_code }}{% endif %}{{ cumul_score }}
									{% endif %}
								</td>
								{% endfor %}
								<td class="text-center">{{ player_score.final_standings_points_display }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<div class="row">
					<div class="col-md-12">No results available.</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
