{% extends "base.html" %}
{% load staticfiles tournament_extras %}

{% block title %}{{ season.name }} - {{ league.name }}{% endblock %}

{% block nav_season %}active{% endblock %}

{% block content %}
<div class="row row-condensed-xs home-row">
	<div class="col-md-8 col-xs-12">
		<div class="well">
			<div class="well-head">
				<h3>{{ season.name }} Winners</h3>
			</div>
			<div class="well-body">
				<div class="row">
					<div class="podium lone-podium">
						<div class="first-place">
							{% if first_player %}
							<div class="winners-trophy">
								<img src="{% static 'tournament/img/trophy-1.png' %}"/>
							</div>
							<div class="winners-name">
								{{ first_player.season_player.player.lichess_username }}
							</div>
							{% endif %}
						</div>
						<div class="second-place">
							{% if second_player %}
							<div class="winners-trophy">
								<img src="{% static 'tournament/img/trophy-2.min.svg' %}"/>
							</div>
							<div class="winners-name">
								{{ second_player.season_player.player.lichess_username }}
							</div>
							{% endif %}
						</div>
						<div class="third-place">
							{% if third_player %}
							<div class="winners-trophy">
								<img src="{% static 'tournament/img/trophy-3.min.svg' %}"/>
							</div>
							<div class="winners-name">
								{{ third_player.season_player.player.lichess_username }}
							</div>
							{% endif %}
						</div>
						<div class="u1600-winner">
							{% if third_player %}
							<div class="winners-trophy">
								<img src="{% static 'tournament/img/blue-ribbon.png' %}"/>
							</div>
							<div class="winners-name">
								U1600<br/>
								{{ u1600_player.season_player.player.lichess_username }}
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		{% if season_list %}
		<div class="well">
			<div class="well-head">
				<h3>Change Season</h3>
			</div>
			<div class="well-body">
				<div class="dropdown">
				    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
				        {{ season.name }}
				        <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu">
					    <li><a href="{% leagueurl 'season_landing' league_tag %}">{{ default_season.name }}</a></li>
					    <li role="separator" class="divider"></li>
					    {% for s in season_list %}
					    <li><a href="{% leagueurl 'season_landing' league_tag s.tag %}">{{ s.name }}</a></li>
					    {% endfor %}
				    </ul>
				</div>
			</div>
		</div>
	    {% endif %}
	</div>
</div>
<div class="row row-condensed-xs home-row">
	<div class="col-md-12">
	    {% if player_scores %}
		<div class="well">
			<div class="well-head">
				<h3>Standings</h3>
			</div>
			<div class="well-body">
				<div class="table-responsive">
					<table class="table table-striped table-condensed-sm" id="table-lone-standings">
						<thead>
							<tr>
								<th></th>
								<th>Name</th>
								<th class="text-center">Rtng</th>
								{% for round_number in round_numbers %}
								<th class="text-center">Rd {{ round_number }}</th>
								{% endfor %}
								<th class="text-center">Tot</th>
								<th class="text-right">TBrk[M]</th>
								<th class="text-right">TBrk[S]</th>
								<th class="text-right">TBrk[C]</th>
								<th class="text-right">TBrk[O]</th>
							</tr>
						</thead>
						<tbody>
							{% for number, player_score, round_scores in player_scores %}
							<tr>
								<td class="text-center rank-value">{{ number }}</td>
								<td>
									<a href="http://lichess.org/@/{{ player_score.season_player.player.lichess_username }}">
										{{ player_score.season_player.player.lichess_username }}
									</a>
								</td>
								<td class="text-center">{{ player_score.season_player.player.rating }}</td>
								{% for result_code, opponent_num, _, _ in round_scores %}
								<td>{{ result_code|default_if_none:'' }}{% if opponent_num %}{{ opponent_num }}{% else %}---{% endif %}</td>
								{% endfor %}
								<td class="text-center rank-value">{{ player_score.final_standings_points_display }}</td>
								<td class="text-right rank-value">{{ player_score.tiebreak1_display }}</td>
								<td class="text-right rank-value">{{ player_score.tiebreak2_display }}</td>
								<td class="text-right rank-value">{{ player_score.tiebreak3_display }}</td>
								<td class="text-right rank-value">{{ player_score.tiebreak4_display }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
