{% extends "base.html" %}
{% load tournament_extras %}

{% block title %}Pairings{% endblock %}

{% block nav_pairings %}active{% endblock %}

{% block content %}

<div class="row bottom-space">
	<div class="col-md-12">
		<div class="inline">
			<h2>Pairings</h2>
		</div>
		{% if round_number_list %}
		<div class="dropdown inline round-switcher">
		  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
		    Round {{ round_number }}
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		    {% for n in round_number_list %}
		    <li><a href="{% leagueurl 'pairings_by_round' league_tag season_id n %}">Round {{ n }}</a></li>
		    {% endfor %}
		  </ul>
		</div>
		{% endif %}
	</div>
</div>

<div class="row">
	<div class="col-md-12">No pairings available.</div>
</div>
{% endblock %}