{% extends "base.html" %}
{% load staticfiles %}
{% load tournament_extras %}

{% block title %}Pairings{% endblock %}

{% block nav_pairings %}active{% endblock %}

{% block content %}
<div class="row bottom-space">
	<div class="col-md-12">
		<div class="inline">
			<h2>Pairings</h2>
		</div>
		<div class="dropdown inline round-switcher">
		  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
		    Round {{ round_number }}
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		    {% for n in round_number_list %}
		    <li><a href="{% leagueurl 'pairings_by_round' league_id season_id n %}">Round {{ n }}</a></li>
		    {% endfor %}
		  </ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-lg-10">
		<table class="table">
			{% for pairing_list in pairing_lists %}
			<tr class="header-row visible-xs">
				<th colspan="5">TEAMS</th>
			</tr>
			<tr class="visible-xs">
				<td colspan="5">{{ pairing_list.0.white_team_name }} ({{ pairing_list.0.team_pairing.white_points_display }}) - {{ pairing_list.0.black_team_name }} ({{ pairing_list.0.team_pairing.black_points_display }})</td>
			</tr>
			<tr class="header-row">
				<th class="hidden-xs">TEAM</th>
				<th>WHITE</th>
				<th>BLACK</th>
				<th class="hidden-xs">TEAM</th>
				<th>RESULT</th>
				<th>TIME</th>{% if can_edit %}
				<th></th>{% endif %}
			</tr>
			{% for pairing in pairing_list %}
			<tr>
				<td class="hidden-xs">{{ pairing.white_team_name }}</td>
				<td><a href="http://lichess.org/@/{{ pairing.white.lichess_username }}">{{ pairing.white }}</a></td>
				<td><a href="http://lichess.org/@/{{ pairing.black.lichess_username }}">{{ pairing.black }}</a></td>
				<td class="hidden-xs">{{ pairing.black_team_name }}</td>
				<td>{% if pairing.game_link %}<a href="{{ pairing.game_link }}">{{ pairing.result | default_if_none:"" }}</a>{% else %}{{ pairing.result | default_if_none:"" }}{% endif %}</td>
				<td>{{ pairing.date_played | date:"m/d H:i" | default_if_none:"" }}</td>{% if can_edit %}
				<th>
					<a href="{% url 'admin:tournament_pairing_change' pairing.pk %}?_popup=1" id="change-pairing-{{ pairing.pk }}" class="popup-link" title="Change selected pairing">
			            <img src="{% static 'admin/img/icon-changelink.svg' %}" alt="Change">
			        </a>
		        </th>{% endif %}
			</tr>
			{% endfor %}
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
