{% extends "base.html" %}

{% block title %}Registration - {{ league.name }}{% endblock %}

{% block content %}
    <div class="row row-condensed-xs">
        <div class="col-md-12">
            <div class="well" id="well-register">
                <div class="well-head">
                    <h3>Registration</h3>
                </div>
                <div class="well-body">
                    Registration is currently closed. Please check back at a later date.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
