{% extends "base.html" %}
{% load tournament_extras %}

{% block title %}Registration - {{ registration_season.section_group_name }} - {{ league.name }}{% endblock %}

{% block content %}
<div class="row row-condensed-xs">
    <div class="col-md-12">
        <div class="well" id="well-register">
            <div class="well-head">
                <h3>{{ registration_season.section_group_name }} Registration ({{ registration_season.start_date|date_or_q }} - {{ registration_season.end_date|date_or_q }})</h3>
            </div>
            <div class="well-body">
                <p>Successfully registered.</p>
                {% if email %}
                <p>A confirmation email will be sent to <strong>{{ email }}</strong> once a moderator approves your registration.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
