{% extends "base.html" %}
{% load bootstrap3 tournament_extras static %}

{% block title %}Registration - {{ registration_season.section_group_name }} - {{ league.name }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'lib/css/bootstrap-toggle.min.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'lib/js/bootstrap-toggle.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row row-condensed-xs">
        <div class="col-md-12">
            <div class="well" id="well-register">
                <div class="well-head">
                    <h3>{{ registration_season.section_group_name }} Registration</h3>
                </div>
                <div class="well-body">
                    {% if registration_season.start_date %}
                        <p>The season {% if registration_season.is_started %}started{% else %}starts{% endif %}
                            {{ registration_season.start_date|date_or_q }}{% if registration_season.end_date %} and ends
                                {{ registration_season.end_date|date_or_q }}{% endif %}.</p>
                    {% endif %}
                    <p>You are registering as <strong>{{ user }}</strong>. 
                    <br>If you want to change the account you register with, you can logout <a href="/team4545/player/">here</a>.
                    <br>As per our 
                    <a href="/team4545/document/terms-of-service/">Terms of Service</a> once you 
                    participate in our league with this account you will always need to use it.
                    
                    </p>
                    <form action="" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
