{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Registration{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-12">
	    <h2>{{ season.name }} Registration (Starts {{ season.start_date }})</h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-10 col-lg-8">
		<form action="{% url 'register' %}" method="post">
		    {% csrf_token %}
		    {% bootstrap_form form %}
		    {% buttons %}
		        <button type="submit" class="btn btn-primary">Submit</button>
		    {% endbuttons %}
		</form>
	</div>
</div>
{% endblock %}