{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Registration - {{ season.name }} - {{ league.name }}{% endblock %}

{% block content %}
<div class="row row-condensed-xs">
	<div class="col-md-12">
		<div class="well" id="well-register">
			<div class="well-head">
				<h3>{{ registration_season.name }} Registration (Starts {{ registration_season.start_date }})</h3>
			</div>
			<div class="well-body">
				<form action="" method="post">
				    {% csrf_token %}
				    {% bootstrap_form form %}
				    {% buttons %}
				        <button type="submit" class="btn btn-primary">Submit</button>
				    {% endbuttons %}
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
