{% extends "base.html" %}
{% load staticfiles %}
{% load tournament_extras %}

{% block title %}Rosters - {{ season.name }} - {{ league.name }}{% endblock %}

{% block nav_rosters %}active{% endblock %}

{% block content %}
<div class="row row-condensed-xs">
	<div class="col-md-12">
		<div class="well">
			<div class="well-head">
				<div class="inline">
					<h3>Rosters</h3>
				</div>{% if can_edit %}
				<div class="inline document-edit">
					<a href="{% url 'admin:edit_rosters' season.pk %}" id="edit-rosters" title="Edit rosters">
			            <img src="{% static 'admin/img/icon-changelink.svg' %}" alt="Change">
			        </a>
		        </div>{% endif %}
			</div>
			<div class="well-body">
				{% if teams %}
				<div class="table-responsive">
					<table class="table table-striped table-condensed-sm" id="table-rosters">
						<thead>
							<tr>
								<th class="cell-team" colspan="3">Team</th>
								{% for board_number in board_numbers %}
								<th class="cell-player" colspan="2">Board {{ board_number }}</th>
								<th class="cell-rating">Rtg</th>
								{% endfor %}
								<th class="cell-average-rating">Average</th>
							</tr>
						</thead>
						<tbody>
							{% for team in teams %}
							<tr>
								<td class="cell-team" colspan="3">{{ team.name }}</td>
								{% for board_number, board in team.boards %}
								<td class="cell-player{% if board.is_captain %} captain{% endif %}" colspan="2">
									<span class="player-name">
										<a href="http://lichess.org/@/{{ board.player.lichess_username }}">{{ board.player.lichess_username }}</a>
									</span>
								</td>
								<td class="cell-rating">{{ board.player.rating|default_if_none:"" }}</td>
								{% endfor %}
								<td class="cell-average-rating">{{ team.average_rating|floatformat:2 }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<div class="row">
					<div class="col-md-12">No rosters available.</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}