<span class="player-name{% if player in unresponsive_players %} player-unresponsive" title="unresponsive"
                           {% elif player in scheduled_alternates %} player-scheduled" title="scheduled"
                           {% elif player in yellow_card_players %} player-yellow-card" title="1 game missed"
                           {% elif player in red_card_players %} player-red-card" title="2+ games missed"
                           {% else %}"{% endif %}>
	<a href="http://lichess.org/@/{{ player.lichess_username }}">{{ player.lichess_username }}</a>
</span>