{% load staticfiles tournament_extras %}
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        {{ season.name }}
    </button>
    <div class="dropdown-menu">
    	{% if current_seasons %}
	    {% for s in current_seasons %}
	    <a class="dropdown-item" href="{% leagueurl 'season_landing' league.tag s.tag %}">{{ s.name }}</a>
	    {% endfor %}
	    <div role="separator" class="dropdown-separator"></div>
	    {% endif %}
	    {% for s in completed_seasons %}
	    <a class="dropdown-item" href="{% leagueurl 'season_landing' league.tag s.tag %}">{{ s.name }}</a>
	    {% endfor %}
    </div>
</div>
