{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ season.name }}{% endblock %}

{% block nav_season %}active{% endblock %}

{% block content %}
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    {{ season.name }}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    {% if default_season %}
    <li><a href="{% url 'season_landing' %}">{{ default_season.name }}</a></li>
    <li role="separator" class="divider"></li>
    {% endif %}
    {% for s in season_list %}
    <li><a href="{% url 'season_landing_by_season' s.pk %}">{{ s.name }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
