{% load staticfiles tournament_extras %}
{% if section_list %}
<div class="dropdown round-switcher inline">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        {{ season.section.name }}
    </button>
    <div class="dropdown-menu">
	    {% for s in section_list %}
		{% if url_name %}
		<a class="dropdown-item" href="{% leagueurl url_name league.tag s.tag %}">{{ s.section.name }}</a>
		{% else %}
		<a class="dropdown-item" href="{% leagueurl request.resolver_match.url_name league.tag s.tag %}">{{ s.section.name }}</a>
		{% endif %}
	    {% endfor %}
    </div>
</div>
{% endif %}
