{% extends "base.html" %}
{% load staticfiles tournament_extras bootstrap3 %}

{% block title %}TV - {{ season.name }} - {{ league.name }}{% endblock %}

{% block nav_tv %}active{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'lib/css/cg_base.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/cg_theme.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/BootstrapXL.css' %}">
<link rel="stylesheet" href="{% static 'tournament/css/tv.css' %}?v=1">
{% endblock %}

{% block head_js %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{% static 'lib/js/chessground.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/jquery-3.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/chess.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/moment.min.js' %}"></script>
<script>
var currentLeague = '{{ league.tag }}';
var jsonUrl = '{% leagueurl 'tv_json' league.tag season.tag %}';
</script>
<script type="text/javascript" src="{% static 'tournament/js/tv.js' %}?v=1"></script>
{% endblock %}

{% block js %}
<script>
  setInterval(poll, 1000 * 30); // 30 seconds
  
  $('#id_timezone').children('[value=local]').text('Local (UTC' + moment().format('Z') + ')');
  $('#filters select, #id_timezone').change(updateHash);
  if (location.hash.length > 0) {
  	poll();
  } else {
  	render({{ json|safe }});
  }
  window.onhashchange = poll;
</script>
{% endblock %}

{% block content %}
<div class="row row-condensed-xs tv-row">
	<div class="col-md-6 col-lg-8">
		<div class="well games-well">
			<div class="well-head">
				<h3>{{ league.name }} TV</h3>
			</div>
			<div class="well-body">
				<div id="game-template" style="display:none">
			        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center game-col">
			            <section>
			                <div class="gameLabel">
			                	<div class="top-team-label"></div>
			                	<div class="top-label"></div>
			                </div>
			                <div class="chessground small {% if league.theme == 'green' %}green{% else %}blue{% endif %} cburnett">
			                </div>
			                <div class="gameLabel">
			                	<div class="bottom-team-label"></div>
			                	<div class="bottom-label"></div>
			                </div>
			            </section>
			        </div>
	        	</div>
	        	<div class="row" id="games-row">
	        	</div>
        		<div id="no-games" style="display:none">
		        	<p>No games are currently being played.</p>
		        </div>
        		<div id="no-filter-games" style="display:none">
		        	<p>No current games match the filters.</p>
		        </div>
	        	<div></div>
			</div>
		</div>
		<div class="well games-well" id="finished-games" style="display: none">
			<div class="well-head">
				<h3>Recently Finished</h3>
			</div>
			<div class="well-body">
	        	<div class="row" id="finished-games-row">
	        	</div>
	        	<div></div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-4">
		<div class="well">
			<div class="well-head">
				<h3>Filters</h3>
			</div>
			<div class="well-body">
				<div id='filters'>
					{% bootstrap_form filter_form %}
				</div>
			</div>
		</div>
		<div class="well">
			<div class="well-head">
				<h3>Schedule</h3>
			</div>
			<div class="well-body">
				{% bootstrap_form timezone_form %}
	        	<table id="schedule" class="table">
	        	</table>
        		<div id="no-schedule" style="display: none">
		        	<p>No scheduled games.</p>
		        </div>
        		<div id="no-filter-schedule" style="display: none">
		        	<p>No scheduled games match the filters.</p>
		        </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
