{% extends "base.html" %}
{% load staticfiles tournament_extras %}

{% block title %}TV - {{ season.name }} - {{ league.name }}{% endblock %}

{% block nav_tv %}active{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'lib/css/cg_base.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/cg_theme.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/tv.css' %}">
{% endblock %}

{% block head_js %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{% static 'lib/js/chessground.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/jquery-3.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/chess.min.js' %}"></script>
<script>
  var chessGrounds = null;
  var ws = null;
  var queue = [];

  function send (ws, message) {
    if(ws.readyState === 1) {
      ws.send(message);
    }
    else {
      queue.push(message);
    }
  }

  // Ping every 2 seconds to keep connection live
  function pingNow() {
    send(ws, '{"t":"p"}');
  };

  function run () {
    chessGrounds = {};
    const baseURL = 'wss://socket.lichess.org';
    const endpoint = '/socket';
    const url = baseURL + endpoint + '?sri=' + Math.random().toString(36).substring(2)
    ws = new WebSocket(url);

    ws.onopen = function () {
      pingNow();
      while(queue.length > 0) {
        let message = queue.pop();
        ws.send(message);
      }
    }

    ws.onerror = function (error) {
      console.log(error);
    }

    ws.onmessage = function (e) {
      const m = JSON.parse(e.data);

      if(m.t === 'fen') {
        let ground = chessGrounds[m.d.id];
        m.d.lastMove = [m.d.lm.substring(0,2), m.d.lm.substring(2,4)];
        ground.set(m.d);
      }
      else if(m.t === 'n') {
        setTimeout(pingNow, 2000);
      }
    }
  }

  run();

  function newBoard($parent, game) {
    let chess = new Chess();

    let ground = Chessground($parent.find('.chessground')[0], {
      fen: '8/8/8/8/8/8/8/8',
      coordinates: false,
      viewOnly: true,
      turnColor: 'white',
      animation: {
        duration: 500
      },
      movable: {
        free: false,
        color: null,
        premove: true,
        dests: {},
        events: {
          after: null
        }
      },
      drawable: {
        enabled: false
      }
    });

    chessGrounds[game.id] = ground;

    $.ajax({
      url:'https://en.lichess.org/api/game/' + game.id,
      data: {
        with_moves: 1
      },
      dataType:'jsonp',
      jsonp:'callback',
      success: function(data) {
        if(data.players) {
          let top_label = null;
          $parent.find('.top-label')
                 .text(data.players.black.userId + ' (' + data.players.black.rating + ')')
                 .wrap('<a href="/' + game.league + '/season/' + game.season + '/player/' + data.players.black.userId + '/"></a>');
          if (game.black_team)
            $parent.find('.top-team-label')
                   .text(game.black_team.name + ' (Board ' + game.board_number + ')')
                   .wrap('<a href="/' + game.league + '/season/' + game.season + '/team/' + game.black_team.number + '/"></a>');
          

          let bottom_label = null;
          $parent.find('.bottom-label')
                 .text(data.players.white.userId + ' (' + data.players.white.rating + ')')
                 .wrap('<a href="/' + game.league + '/season/' + game.season + '/player/' + data.players.white.userId + '/"></a>');
          if (game.white_team)
            $parent.find('.bottom-team-label')
                   .text(game.white_team.name + ' (Board ' + game.board_number + ')')
                   .wrap('<a href="/' + game.league + '/season/' + game.season + '/team/' + game.white_team.number + '/"></a>');
        }

        if (data.moves) {
          let a = {};
          const chess = new Chess();
          data.moves.split(' ').forEach(chess.move);
          const history = chess.history({verbose: true});
          const lastMoveObj = history[history.length-1];
          a.lastMove = [lastMoveObj.from, lastMoveObj.to];
          a.fen = chess.fen();
          ground.set(a);
        }
      }
    });

    let message = JSON.stringify({
      t: 'startWatching',
      d: game.id
    })
    send(ws, message);

  };
  
  shown_games = {};
  
  function render(data) {
	  console.log('rendering ' + JSON.stringify(data));
	  $('#no-games').toggle(!data.games.length);
	  
	  // Populate a set of all the games we're about to show
	  next_games = {};
	  $.each(data.games, function(i, g) {
	  	next_games[g.id] = 1;
	  });
	  
	  // Delete existing games we're not showing any more
	  $('#games-row').children().each(function(i, el) {
	  	var id = $(el).data('id');
	  	if (!(id in next_games)) {
	  		$('#finished-games').show();
	  		$('#finished-games-row').append(el);
	  		delete shown_games[id];
	  	}
	  });
	  
	  // Show new games
	  $.each(data.games, function(i, g) {
	  	if (!(g.id in shown_games)) {
		  	$g = $('#game-template').clone().attr('id', null).data('id', g.id).show();
		  	$g.find('.chessground').wrap('<a href="https://en.lichess.org/' + g.id + '"></a>');
		  	$('#games-row').append($g);
		  	newBoard($g, g);
		  	shown_games[g.id] = $g;
	  	}
	  });
  }
  
  function poll() {
  	$.get('{% leagueurl 'tv_json' league.tag season.tag %}', function(data) {
  		console.log(data);
  		render(data);
  	});
  }
</script>
{% endblock %}

{% block js %}
<script>
  render({{ json|safe }});
  setInterval(poll, 1000); // 30 seconds
</script>
{% endblock %}

{% block content %}
<div class="row row-condensed-xs tv-row">
	<div class="col-md-12">
		<div class="well">
			<div class="well-head">
				<h3>Current Games</h3>
			</div>
			<div class="well-body">
				<div id="game-template" style="display:none">
			        <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12 text-center game-col">
			            <section>
			                <div class="gameLabel">
			                	<div class="top-team-label"></div>
			                	<div class="top-label"></div>
			                </div>
			                <div class="chessground small {% if league.theme == 'green' %}green{% else %}blue{% endif %} cburnett">
			                </div>
			                <div class="gameLabel">
			                	<div class="bottom-team-label"></div>
			                	<div class="bottom-label"></div>
			                </div>
			            </section>
			        </div>
	        	</div>
	        	<div class="row" id="games-row">
	        	</div>
        		<div id="no-games" style="display:none">
		        	<p>No games are currently being played.</p>
		        </div>
	        	<div id="finished-games" style="display:none">
	        		<h2>Recently Finished</h2>
		        	<div class="row" id="finished-games-row">
		        	</div>
	        	</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
