{% extends "base.html" %}
{% load staticfiles tournament_extras %}

{% block title %}Dashboard - {{ league.name }}{% endblock %}

{% block content %}
<div class="row row-condensed-xs home-row">
	<div class="col-md-6 col-xs-12">
		{% if not slack_linked %}
		<div class="well">
			<div class="well-head">
				<h3>Link Slack Account</h3>
			</div>
			<div class="well-body">
				<p>To participate in the league, you need to link your Slack account.</p>
                <p>Send <a href="https://lichess4545.slack.com/messages/@{{ bot_name }}">@{{ bot_name }}</a> the message <strong><code>link</code></strong> and follow the instructions.</p>
			</div>
		</div>
		{% elif slack_linked_just_now %}
		<div class="well">
			<div class="well-head">
				<h3>Slack Linked</h3>
			</div>
			<div class="well-body">
				<p>Your Slack account has been successfully linked!</p>
			</div>
		</div>
		{% endif %}
		<div class="well">
			<div class="well-head">
			    <h3>{{ user.username }}</h3>
		    </div>
		    <div class="well-body">
		    	<p>
			    	<a href="{% leagueurl 'player_profile' league.tag season.tag player.lichess_username %}">
			    		Public profile
			    	</a>
			    	<br/>
					<a href="webcal://{{ request.get_host }}{% url 'player_icalendar' player.lichess_username %}">
						Calendar
					</a>
					<br/>
			    	<a href="{% leagueurl 'notifications' league.tag season.tag %}">
			    		Notification settings
			    	</a>
				</p>
				<form action="{% leagueurl 'logout' league.tag %}" method="post">
				    {% csrf_token %}
		        	<button type="submit" class="btn btn-default">Logout</button>
				</form>
			</div>
		</div>
		<div class="well">
			<div class="well-head">
				<h3>My Pairings</h3>
			</div>
			<div class="well-body">
				<table class="my-pairings">
					{% for round, pairing in my_pairings %}
					<tr class="my-pairing">
						<td class="league-icon {{ round.season.league.theme }}"></td>
						<td>
							<div class="details">
								<span class="round">
									{{ round.season }} - Round {{ round.number }}
								</span>
								<span class="players">
									{{ pairing.white }} - {{ pairing.black }}
								</span>
								<span class="time">
									{{ pairing.scheduled_time | date_el:"m/d H:i" }}
								</span>
								<span class="result">
									{% if pairing.game_link %}
									<a href="{{ pairing.game_link }}">
										{% if pairing.result %}{{ pairing.result_display }}{% else %}&#x2694;{% endif %}
									</a>
									{% else %}
									{{ pairing.result_display }}
									{% endif %}
								</span>
							</div>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xs-12">
		{% for active_season, active_sp in active_seasons_with_sp %}
		<div class="well">
			<div class="well-head">
				<h3>{{ active_season.name }}</h3>
			</div>
			<div class="well-body">
				{% if active_sp %}
					<p>
						<a class="btn btn-default" href="{% leagueurl 'edit_availability' league.tag active_season.tag %}">
							Edit Availability
						</a>
						{% if active_sp.is_active %}
						<a class="btn btn-default" href="{% leagueurl 'modrequest' league.tag active_season.tag 'withdraw' %}">
							Withdraw
						</a>
						{% endif %}
					</p>
					{% if active_sp.games_missed %}
					<p>
						{% if active_sp.games_missed > 1 %}
						You have a red card.<span class="with-red-card"></span>
						{% else %}
						You have a yellow card.<span class="with-yellow-card"></span>
						{% endif %}
					</p>
					{% endif %}
				{% else %}
					{% if active_season.registration_open %}
					<a class="btn btn-default" href="{% leagueurl 'register' league.tag active_season.tag %}">
						Register
					</a>
					{% else %}
					<p>Registration is closed.</p>
					{% endif %}
				{% endif %}
			</div>
		</div>
		{% endfor %}
		{% if last_season %}
		<div class="well">
			<div class="well-head">
				<h3>{{ last_season.name }}</h3>
			</div>
			<div class="well-body">
				<a class="btn btn-default" href="{% leagueurl 'season_landing' league.tag last_season.tag %}">
					Final Standings
				</a>
				{% if last_season.nominations_open %}
				<a class="btn btn-default" href="{% leagueurl 'nominate' league.tag last_season.tag %}">
					Game Nominations
				</a>
				{% endif %}
			</div>
		</div>
		{% endif %}
		<div class="well">
			<div class="well-head">
				<h3>Other Leagues</h3>
			</div>
			<div class="well-body">
				{% for other_league in other_leagues %}
				<a class="btn btn-default" href="{% leagueurl 'user_dashboard' other_league.tag %}">
					{{ other_league.name }}
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
