[Unit]
Description=heltour staging gunicorn server 
After=network.target

[Service]
ExecStart=/home/lichess4545/web/staging.lichess4545.com/current/sysadmin/run-heltour-staging.sh
User=lichess4545
KillMode=control-group
TimeoutStopSec=2
Restart=on-failure
RestartPreventExitStatus=255
Type=simple

[Install]
Wants=multi-user.target

