[Unit]
Description=heltour gunicorn server 
After=network.target

[Service]
ExecStart=/usr/bin/sudo -u lichess4545 /var/www/www.lichess4545.com/current/sysadmin/run-heltour-live.sh
KillMode=control-group
TimeoutStopSec=2
Restart=on-failure
RestartPreventExitStatus=255
Type=simple

[Install]
Wants=multi-user.target

