SECRET_KEY=change-me
DEBUG=True
LOG_LEVEL=INFO
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
LINK_PROTOCOL=http

DATABASE_URL=postgresql://heltour_lichess4545:sown%20shuts%20combiner%20chattels@localhost:5432/heltour_lichess4545

REDIS_URL=redis://localhost:6379/1
BROKER_URL=redis://localhost:6379/1

EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_USE_TLS=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
SERVER_EMAIL=noreply@lichess.org
DEFAULT_FROM_EMAIL=noreply@lichess.org

LICHESS_DOMAIN=https://lichess.org/
LICHESS_NAME=lichess
LICHESS_TOPLEVEL=org
LICHESS_OAUTH_CLIENTID=heltour
LICHESS_OAUTH_REDIRECT_SCHEME=https://

LICHESS_API_TOKEN=
SLACK_API_TOKEN=
SLACK_CHANNEL_BUILDER_TOKEN=
SLACK_WEBHOOK_URL=
GOOGLE_SERVICE_ACCOUNT_KEY_FILE=

MEDIA_S3_BUCKET=
MEDIA_S3_ENDPOINT_URL=
MEDIA_S3_REGION=
MEDIA_S3_PREFIX=
MEDIA_S3_ADDRESSING_STYLE=path
MEDIA_S3_DEFAULT_ACL=
MEDIA_S3_ACCESS_KEY_ID=
MEDIA_S3_SECRET_ACCESS_KEY=
MEDIA_ORIGIN_URL=

SLACK_ANNOUNCE_CHANNEL=C2UP34BCZ
SLACK_TEAM_ID=T0CSGMP0R
CHESSTER_USER_ID=U020MSB1FV0

HELTOUR_APP=tournament
HELTOUR_ENV=dev
API_WORKER_HOST=http://localhost:8880
JAVAFO_COMMAND=java -jar ./thirdparty/javafo.jar
SLEEP_UNIT=1.0
TEAMGEN_PROCESSES_NUMBER=8
