*.pyc
env
venv
.project
.pydevproject
/static
/media
certs
celerybeat-schedule
*eclipse*
data
.idea
.sass-cache
/heltour/tournament/static/tournament/css/*.css
/heltour/tournament/static/tournament/css/*.css.map
javafo.jar
heltour/local/
.DS_Store
