[tool.poetry]
name = "heltour"
version = "1.0.0"
description = "A [hel]per for [tour]naments.  Intended to run swiss based tournaments, but is actually the source for the lichess4545.com leagues."
authors = ["Lakin Wecker <lakin@structuredabstraction.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
django = "==2.2.*"
django-reversion = "==3.0.5"
fabric3 = "==1.14.post1"
psycopg2-binary = "==2.8.4"
django-debug-toolbar = "==3.2.4"
#requests[security] = "==2.22.0"
responses = "==0.10.9"
django-bootstrap3 = "==12.0.3"
gspread = "==0.4.1"
oauth2client = "==2.2.0"
django-ckeditor = "==5.8.0"
django-cacheops = "==4.2"
django-contrib-comments = "==1.9.2"
django-redis = "==5.2.0"
django-recaptcha = "==2.0.5"
django-select2-forms = "==2.1.0"
django-static-precompiler = "==2.1"
django-impersonate = "==1.4.1"
django-ipware = "==2.1.0"
redis = "==4.1.2"
websocket-client = "==0.56.0"
celery = "==5.2.3"
icalendar = "==4.0.4"
pillow = "==9.3.0"
pyfcm = "==1.3.1"
letsencrypt = "*"
baste = { git = "https://bitbucket.org/strabs/baste.git", branch="release-2.2" }
requests = {extras = ["security"], version = "^2.27.1"}
django-stubs = "1.7.0"
django-stubs-ext = "^0.3.1"
patchwork = "1.0.1"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
plugins = ["mypy_django_plugin.main"]

[tool.django-stubs]
django_settings_module = "heltour.settings"
