django==1.9.7
django-reversion==2.0.5
fabric==1.11.1
psycopg2==2.6.1
django-debug-toolbar==1.5
requests==2.9.1
django-bootstrap3==7.0.1
gspread==0.4.1
oauth2client==2.2.0
django-ckeditor==5.0.3
django-cacheops==2.4.5
letsencrypt
-e hg+https://bitbucket.org/lakin.wecker/baste#egg=baste
