<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}Lichess 45+45 League{% endblock %}</title>
    
    {% load staticfiles %}
    {% block common_css %}
    <link href="{% static "lib/css/bootstrap.min.css" %}" rel="stylesheet">
    {% endblock %}
    {% block css %}{% endblock %}
</head>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
    {% block common_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static "lib/js/bootstrap.min.js" %}"></script>
    {% endblock %}
    {% block js %}{% endblock %}
</body>
</html>