{% with "55" as static_version %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}

    <title>{% block title %}{{ league.name }}{% endblock %}</title>

    {% load staticfiles tournament_extras %}
    <link href="//fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% block iconpath %}{% static 'tournament/img/favicon.png' %}{% endblock %}?v={{ static_version }}"/>
    {% block common_css %}
    <!--<link href="{% static "lib/css/bootstrap.min.css" %}?v={{ static_version }}" rel="stylesheet">
    <link href="{% static "tournament/css/common.css" %}?v={{ static_version }}" rel="stylesheet">-->
    {% if league %}{% with "tournament/css/theme-"|add:league.theme|add:".css" as theme_css %}
    <link href="{% static theme_css %}?v={{ static_version }}" rel="stylesheet">
    {% endwith %}{% endif %}
    <link href="{% static "tournament/assets/css/style.min.css" %}?v={{ static_version }}" rel="stylesheet">
    {% endblock %}
    {% block css %}{% endblock %}
    {% block head_js %}{% endblock %}
</head>

<body>
    {% if STAGING %}
    <header style="background-color: #c00; height: 30px; text-align: center;">
      <div class="container-fluid">
        <p style="color: #fff; margin: 5px 0;">STAGING ENVIRONMENT - FOR TESTING ONLY</p>
      </div>
    </header>
    {% elif DEBUG %}
    <header style="background-color: #00c; height: 30px; text-align: center;">
      <div class="container-fluid">
        <p style="color: #fff; margin: 5px 0;">DEBUG</p>
      </div>
    </header>
    {% endif %}
    {% block body %}{% endblock %}

    <footer class="footer">
      <div class="container-fluid">
        <p class="text-muted">
	        Lichess Leagues
    		{% if league %}
	        &middot; <a href="{% url 'home' %}">Home</a>
	        &middot; <a href="{% leagueurl 'contact' league.tag %}">Contact</a>
	        &middot; <a href="{% leagueurl 'about' league.tag %}">About</a>
    		{% endif %}
    		{% if user.is_staff %}
	        &middot; <a href="{% url 'admin:index' %}">Admin</a>
	        {% endif %}
        </p>
      </div>
    </footer>

    {% block common_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static "lib/js/bootstrap.min.js" %}?v={{ static_version }}"></script>
    <script src="{% static "tournament/js/common.js" %}?v={{ static_version }}"></script>
	<script type="text/javascript" src="{% static 'lib/js/moment.min.js' %}"></script>
    {% endblock %}
    {% block js %}{% endblock %}
</body>
</html>{% endwith %}
