$theme-name: 'red';
$logo: '/static/tournament/img/power-lightning.png';
$logo-position: 6px 1px;
$logo-size: 48px 48px;
$primary-color: #562222;
$secondary-color: #946976;
$nav-focus-color: #834d58;

@import 'theme_base';
