$theme-name: 'yellow';
$logo: '/static/tournament/img/dice.png';
$logo-position: 6px 1px;
$logo-size: 48px 48px;
$primary-color: #c69501;
$dark-primary-color: #705401;
$secondary-color: #c69501;
$nav-focus-color: #f4c842;

@import 'theme_base';
