$theme-name: 'blue';
$logo: '/static/tournament/img/all-for-one.png';
$logo-position: 5px 0;
$logo-size: 50px 50px;
$primary-color: #245164;
$secondary-color: #557f97;
$nav-focus-color: #3c687d;

@import 'theme_base';
