// Orange theme - Fire/Energy
$theme-name: 'orange';
$primary-color: #c85200;
$dark-primary-color: #7a3200;
$secondary-color: #e08543;
$nav-focus-color: #ff6d1a;
$logo: '/static/tournament/img/fire.png';
$logo-position: 10px 5px;
$logo-size: 40px 40px;

@import 'theme_base';