$theme-name: 'green';
$logo: '/static/tournament/img/wolf-head.png';
$logo-position: 6px 1px;
$logo-size: 48px 48px;
$primary-color: #225622;
$dark-primary-color: #1c401c;
$secondary-color: #699486;
$nav-focus-color: #4d8358;

@import 'theme_base';
