.text-approved {
  color: #0000ff;
}
.text-rejected {
  color: #ff0000;
}
.text-pending {
}
.text-season {
  font-weight: bold;
}
.text-email {
  font-weight: bold;
}
.text-username {
  font-weight: bold;
}
.text-games-missed {
  font-weight: bold;
}

.aligned-text label {
    display: block;
    padding: 2px 10px 0 0;
    float: left;
    width: 160px;
    word-wrap: break-word;
    line-height: 1;
}

.notes {
	width: 400px;
	height: 120px;
	margin-bottom: 20px;
}

.action-checkbox {
	padding: 10px;
}
.action-checkbox label {
	color: black;
	padding-left: 5px;
}

.actions {
	margin-bottom: 10px;
}