.text-approved { color: #0000ff; }

.text-rejected { color: #cc0000; }

.text-season { font-weight: bold; }

.text-email { font-weight: bold; }

.text-username { font-weight: bold; }

.aligned-text label { display: block; padding: 2px 10px 0 0; float: left; width: 160px; word-wrap: break-word; line-height: 1; }

.notes { width: 400px; height: 120px; margin-bottom: 20px; }

.action-checkbox { padding: 10px; }

.action-checkbox label { color: black; padding-left: 5px; }

.actions { margin-bottom: 10px; }

.create-link { display: block; margin-top: 10px; margin-bottom: 10px; }

.inline-create-link { margin-right: 10px; }

.row-error { background-color: #fffcab; }

.inline { display: inline-block; vertical-align: top; }

#scheduled-actions { margin-left: 40px; }

#scheduled-actions table tbody tr td:nth-child(1), #scheduled-actions table tbody tr td:nth-child(2) { padding-right: 20px; }

#scheduled-actions .current-round-actions .action-register, #scheduled-actions .current-round-actions .action-withdraw { color: #999; }

#scheduled-actions .current-round-actions .action-register .change-link, #scheduled-actions .current-round-actions .action-withdraw .change-link { display: none; }

td > dl { margin-bottom: 0; }

.select2-container.django-select2 { width: auto; }

.move-link { display: inline-block; background: url('/static/admin/img/selector-icons.svg'); background-position: 0px 80px; width: 16px; height: 16px; margin-top: 2px; vertical-align: bottom; }

.delete-link { vertical-align: top; }

#form-edit-rosters #table-edit-rosters, #form-edit-rosters #table-alternates, #form-edit-rosters #table-unassigned { table-layout: fixed; width: 100%; }
#form-edit-rosters #table-edit-rosters tr th:last-child, #form-edit-rosters #table-alternates tr th:last-child, #form-edit-rosters #table-unassigned tr th:last-child, #form-edit-rosters #table-edit-rosters tr th:nth-last-child(2), #form-edit-rosters #table-alternates tr th:nth-last-child(2), #form-edit-rosters #table-unassigned tr th:nth-last-child(2) { width: 55px; }
#form-edit-rosters #table-unassigned { margin-bottom: 20px; }
#form-edit-rosters #table-edit-rosters [data-board], #form-edit-rosters #table-alternates table td, #form-edit-rosters #table-unassigned table td { padding: 1px; }
#form-edit-rosters #table-alternates table, #form-edit-rosters #table-unassigned table { width: 100%; height: 33px; }
#form-edit-rosters #table-alternates > tbody > tr > td, #form-edit-rosters #table-unassigned > tbody > tr > td { padding: 0; }
#form-edit-rosters .player { display: flex; vertical-align: top; padding: 6px; width: calc(100% - 16px); background-color: white; border: 1px solid #ccc; white-space: nowrap; }
#form-edit-rosters .player .name { text-overflow: ellipsis; width: 65%; overflow-x: hidden; }
#form-edit-rosters .player .rating-container { margin-right: 2px; }
#form-edit-rosters .player.ui-draggable { cursor: pointer; }
#form-edit-rosters .player.ui-draggable-dragging { border: 1px solid orange; z-index: 1000; }
#form-edit-rosters .player-red { background: linear-gradient(90deg, #fff 97%, #c00 3%); }
#form-edit-rosters .player-blue { background: linear-gradient(90deg, #fff 97%, #00c 3%); }
#form-edit-rosters .player-purple { background: linear-gradient(90deg, #fff 97%, #c6f 3%); }
#form-edit-rosters .team .team-name-editable { display: inline-block; vertical-align: top; min-width: 160px; cursor: text; min-height: 16px; }
#form-edit-rosters .team .team-name-edit { margin: -10px -7px -7px -7px; }
#form-edit-rosters .new-team-template .team-name { color: #777; }
#form-edit-rosters .table-player-info label { vertical-align: middle; margin-left: 8px; color: #333; }

/*# sourceMappingURL=admin.css.map */
