


.trophy {
    display:inline-block;
    margin:5px;
    text-align:center;
}

.trophy-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    margin-right: auto;
}

.rank-1 {
    background-image: url(/static/tournament/img/trophy-1.min.svg);
    height: 100px;
    width: 130px;
}

.rank-2 {
    background-image: url(/static/tournament/img/trophy-2.min.svg);
    height: 70px;
}

.rank-3 {
    background-image: url(/static/tournament/img/trophy-3.min.svg);
    height: 50px;
}

.blue-ribbon {
    background-image: url(/static/tournament/img/blue-ribbon.png);
    height: 50px;
}

@media (min-width: 768px) {
	.podium {
		display: flex;
	}
	.podium > div {
		display: inline-block;
		width: 33.33%;
		margin: 0;
	}
	.podium .first-place {
		order: 2;
		margin-top: auto;
	}
	.lone-podium .first-place {
		margin-bottom: -4px;
	}
	.podium .second-place {
		order: 1;
		margin-top: auto;
	}
	.podium .third-place {
		order: 3;
		margin-top: auto;
	}
	.podium .u1600-winner {
		order: 4;
		margin: auto -2% 0 -7%;
	}
	#home-container {
		align-items: center;
		display: flex;
		justify-content: center;
	}
	.nav > .league-dropdown {
		margin-left: 0;
		margin-right: 10px;
	}

	.nav > .league-dropdown > a {
		padding-left: 3px;
		padding-right: 5px;
	}

	#table-team-pairings {
		table-layout: fixed;
	}
}
@media (max-width: 991px) {
	.row-condensed-sm > * {
		padding-left: 0px;
		padding-right: 0px;
	}
	.table-condensed-sm > thead > tr > th,
	.table-condensed-sm > tbody > tr > th,
	.table-condensed-sm > tfoot > tr > th,
	.table-condensed-sm > thead > tr > td,
	.table-condensed-sm > tbody > tr > td,
	.table-condensed-sm > tfoot > tr > td {
	  padding: 4px 6px 4px 6px;
	}
	.table-responsive .table-condensed-sm th,
	.table-responsive .table-condensed-sm td {
		white-space: nowrap;
	}
	#table-rosters {
		table-layout: auto;
	}
	#table-rosters .cell-player.captain .player-name {
		max-width: 100%;
	}
}
@media (max-width: 767px) {
	body {
		margin-bottom: 50px;
	}
	.row-condensed-xs > * {
		padding-left: 0px;
		padding-right: 0px;
	}
	.table-condensed-xs > thead > tr > th,
	.table-condensed-xs > tbody > tr > th,
	.table-condensed-xs > tfoot > tr > th,
	.table-condensed-xs > thead > tr > td,
	.table-condensed-xs > tbody > tr > td,
	.table-condensed-xs > tfoot > tr > td {
	  padding: 4px 6px 4px 6px;
	}

	.pairing-player {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		max-width: 120px;
	}
	#home-league-list {
		max-width: 350px;
	}

	.document-content ul, .document-content ol {
		padding-left: 30px;
	}

	.table-stats {
		table-layout: auto;
	}

	.round-switcher:first-child {
		margin-left: -5px;
	}

	.league-homelink-green {
		background-position: 5px 0px;
	}

	#table-team-pairings .cell-score {
		width: auto;
		min-width: 25px;
	}
}
