html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 50px;
	background-color: #f9f9f9;
	font-family: 'Noto Sans', sans-serif;
}

#content {
	max-width: 1600px;
	margin-left: 0;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #e9e9e9;
}

.well-body > h1:first-child,
.document-content > h1:first-child,
.well-body > h2:first-child,
.document-content > h2:first-child {
	margin-top: 2px;
}

.well-body > :last-child,
.well-body > :last-child > :last-child {
	margin-bottom: 0;
}

h2 {
	font-size: 22px;
}

.footer p {
	text-align: center;
	margin: 15px 0;
	color: #666666;
}

.btn-default {
	min-width: 80px;
}

.toggle-group .btn-default {
	min-width: auto;
}

.btn-create {
	min-width: 0px;
}

.input-mini {
	max-width: 60px;
}

.input-small {
	max-width: 90px;
}

.input-medium {
	max-width: 150px;
}

.input-large {
	max-width: 210px;
}

.input-xlarge {
	max-width: 270px;
}

.input-xxlarge {
	max-width: 530px;
}

.single-field-btn {
	margin-top: -5px;
}

.top-space {
	margin-top: 15px;
}

.bottom-space {
	margin-bottom: 10px;
}

.delete-link {
	width: 15px;
	height: 15px;
	margin-top: -3px;
}

div.inline {
	display: inline-block;
}

.round-switcher {
	display: inline-block;
	position: relative;
	top: -6px;
	margin-bottom: 5px;
	margin-right: 5px;
}

.header-row {
	background-color: rgb(249, 249, 249)
}

.team-link,
.team-link:hover,
.team-link:active,
.team-link:focus,
.player-link,
.player-link:hover,
.player-link:active,
.player-link:focus,
.board-link,
.board-link:hover,
.board-link:active,
.board-link:focus {
	color: inherit;
}

.player-profile-row {
	max-width: 1200px;
}

.player-profile-row .well-body {
	overflow: auto;
}

.player-profile-section {
	margin-bottom: 10px;
}

.player-profile-section table td {
	padding-right: 10px;
	white-space: nowrap;
}

#table-rosters thead>tr>th {
	white-space: nowrap;
}

#table-rosters .cell-alternates {
	padding-top: 37px;
}

#table-rosters tbody tr td.cell-player {
	border-left: 1px solid #ddd;
}

#table-rosters tbody tr td.cell-rating {
	border-right: 1px solid #ddd;
	width: 50px;
}

#table-crosstable tbody>tr>td, #table-crosstable thead>tr>th {
	white-space: nowrap;
}

#table-crosstable .cell-score {
	border: 1px solid black;
}

#table-crosstable .cell-score, #table-crosstable .cell-teamnumber {
	width: 37px;
	min-width: 30px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

.table .cell-score {
	vertical-align: middle;
}

.cell-score a {
	display: block;
	width: 100%;
	height: 100%;
	color: rgb(51, 51, 51);
}

.cell-teamnumber {
	font-weight: bold;
}

.pairings-row {
	max-width: 800px;
}
.pairing-player .download-games,
.pairing-player .download-games img {
	width: 16px;
}

.cell-win {
	background-color: #b7e1cd;
}

.cell-loss {
	background-color: #f4c7c3;
}

.cell-tie {
	background-color: #fce8b2;
}

.cell-cross {
	background-color: #c9daf8;
}

.row-error, .table > tbody > tr.row-error {
	background-color: #fffcab;
}

.document-content {
	padding: 5px;
	line-height: 180%;
}

.document-content > :last-child {
	margin-bottom: 0;
}

.document-edit {
	position: relative;
	top: -7px;
	margin-left: 10px;
}

.well-head .document-edit {
	top: -4px;
}

.well .table {
	background-color: white;
}

.well h3 {
	margin-top: 10px;
}

.slack-icon-btn {
	width: 18px;
	height: 18px;
	margin-left: -3px;
	margin-top: -2px;
}

.slack-icon-plain {
	width: 18px;
	height: 18px;
	margin-top: -3px;
	margin-left: -3px;
	margin-right: -4px;
}

.slack-icon-text {
	width: 18px;
	height: 18px;
	margin-top: -2px;
}

.table-round-results {
	table-layout: fixed;
}

.table-round-results .cell-score {
	width: 40px;
	text-align: center;
}

.table-round-results > tbody > tr:last-child > td {
	border-bottom: 1px solid #ddd;
}

.table-round-results > tbody > tr > td:first-child {
	border-left: 1px solid #ddd;
}

.table-round-results > tbody > tr > td:last-child {
	border-right: 1px solid #ddd;
}

#table-team-pairings th {
	vertical-align: middle;
	font-weight: normal;
}

#table-team-pairings .cell-score {
	width: 37px;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	font-weight: normal;
}

#table-team-pairings .cell-time {
	width: 105px;
}

#table-team-pairings .cell-edit {
	width: 34px;
}

#table-team-pairings .cell-game-result {
	padding: 0;
}

#table-team-pairings .cell-game-result span {
	display: inline-block;
	width: 50%;
	text-align: center;
}

#table-team-pairings .cell-game-result a:hover span {
	text-decoration: underline;
}

#table-team-pairings .cell-score a {
	color: #337ab7;
}

#table-team-pairings .color-dot, #table-team-pairings .captain {
	color: rgb(51, 51, 51);
}

#table-team-pairings .color-dot.left {
	margin-right: 4px;
}

#table-team-pairings .color-dot.right {
	margin-left: 4px;
}

#table-team-pairings .player-white .color-dot:after {
	content: '\25CB';
	font-size: 18px;
	line-height: 14px;
}

#table-team-pairings .player-black .color-dot:after {
	content: '\25CF';
	font-size: 18px;
	line-height: 14px;
}

#well-register {
	max-width: 900px;
}

#well-contact {
	max-width: 700px;
}

.home-row {
	max-width: 1250px;
}

#table-rosters {
	table-layout: fixed;
}

#table-rosters .cell-rating {
	width: 47px;
	text-align: center;
}

#table-rosters .cell-average-rating {
	width: 80px;
	text-align: center;
}

#table-rosters .cell-player {
	padding-left: 7px;
}

#table-rosters .cell-player .player-name {
	display: inline-block;
	vertical-align:top;
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#table-rosters .cell-player.captain .player-name {
	max-width: calc(100% - 25px);
}

#table-rosters .cell-player.captain:after,
.player-profile-section .captain:after,
.pairings-row .captain:after {
	content: '(C)';
}

#table-alternates > tbody > tr > td {
	padding: 0;
	vertical-align: top;
}

#table-alternates table {
	table-layout: fixed;
	margin-bottom: 0;
	min-width: 200px;
}

#table-alternates table td:nth-child(2) {
	text-align: right;
	width: 95px;
	padding-left: 0;
}

#table-alternates table .cell-player .player-name {
	display: inline-block;
	vertical-align:top;
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.player-unavailable {
	padding-right: 18px;
	background: url(/static/tournament/img/cancel.png);
	background-position: right 0px top 3px;
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-color: #ffcc88;
}
.player-unavailable.legend-swatch {
	background-position: right 2px top 3px;
}

.player-unresponsive {
	padding-right: 19px;
	background: url(/static/tournament/img/offline.png);
	background-position: right 0px top 2px;
	background-repeat: no-repeat;
	background-size: 15px 16px;
	background-color: #ffe6e9;
}
.player-unresponsive.legend-swatch {
	background-position: right 1px top 2px;
}

.player-scheduled {
	padding-right: 19px;
	background: url(/static/tournament/img/calendar.png);
	background-position: right 0px top 3px;
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-color: #ddd6ff;
}
.player-scheduled.legend-swatch {
	background-position: right 2px top 2px;
}

.player-yellow-card {
	padding-right: 18px;
	background: url(/static/tournament/img/yellow-card.png);
	background-position: right 0px top 2px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-color: #fffcab;
}
.player-yellow-card.legend-swatch {
	background-position: right 1px top 2px;
}

.player-red-card {
	padding-right: 18px;
	background: url(/static/tournament/img/yellow-card-filled.png);
	background-position: right 0px top 2px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-color: #ffabab;
}
.player-red-card.legend-swatch {
	background-position: right 1px top 2px;
}

.with-yellow-card:after {
	content: '';
	background: url(/static/tournament/img/yellow-card.png);
	background-position: right 0px top 2px;
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-color: #fffcab;
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin-left: 5px;
}
.with-red-card:after {
	content: '';
	background: url(/static/tournament/img/yellow-card-filled.png);
	background-position: right 0px top 2px;
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-color: #ffabab;
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin-left: 5px;
}

.legend-swatch {
	min-width: 20px;
	width: 20px;
	height: 20px;
	border: 1px solid #dddddd;
}

.legend-label {
	padding-left: 10px;
	padding-right: 20px;
	white-space: nowrap;
}

.table-stats {
	max-width: 700px;
	table-layout: fixed;
}

.table-board-scores {
	max-width: 500px;
}

.dashboard-season-action {
	margin-bottom: 10px;
}

.dashboard-season-action a {
	width: 170px;
}

.dashboard-note {
	margin-left: 10px;
	color: #666;
}

.podium {
	text-align: center;
}

.winners-name {
	font-size: 22px;
	font-weight: bold;
	color: #666;
	margin-top: 10px;
}

.winners-team-members {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;

	font-size: 16px;
	font-weight: bold;
	color: #666;
}

.podium .second-place,
.podium .third-place,
.podium .u1600-winner {
	margin-top: 20px;
}

.second-place .winners-trophy img {
	height: 85px;
}

.second-place .winners-name {
	font-size: 16px;
}

.second-place .winners-team-members {
	font-size: 14px;
}

.third-place .winners-trophy img {
	height: 65px;
}

.third-place .winners-name {
	font-size: 15px;
}

.third-place .winners-team-members {
	font-size: 14px;
}

.u1600-winner .winners-trophy img {
	height: 65px;
}

.u1600-winner .winners-name {
	font-size: 15px;
}

#home-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 30px 0 80px 0;
}

#home-league-list {
	max-width: 700px;
}

.league-home-container {
	display: block;
	border: 1px solid #666;
	border-radius: 5px;
	border-top: none;
	margin: 10px 0 10px 0;
	width: 321px;
	color: #333;
	background-color: white;
}

.league-home-container:hover,
.league-home-container:active,
.league-home-container:focus {
	color: #333;
	text-decoration: none;
}

.league-homelink {
	display: block;
	height: 50px;
	width: 320px;
	line-height: 50px;
	color: white;
	font-size: 18px;
	margin: 0 0 10px 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.league-homelink:hover,
.league-homelink:active,
.league-homelink:focus {
	color: white;
}

.league-homelink-blue {
	padding-left: 59px;
	background: url(/static/tournament/img/all-for-one.png);
	background-position: 5px 0px;
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-color: #245164;
}

.league-homelink-green {
	padding-left: 59px;
	background: url(/static/tournament/img/wolf-head.png);
	background-position: 6px 1px;
	background-repeat: no-repeat;
	background-size: 48px 48px;
	background-color: #225622;
}

.league-homelink-red {
	padding-left: 59px;
	background: url(/static/tournament/img/power-lightning.png);
	background-position: 6px 1px;
	background-repeat: no-repeat;
	background-size: 48px 48px;
	background-color: #562222;
}

.league-homelink-yellow {
	padding-left: 59px;
	background: url(/static/tournament/img/dice.png);
	background-position: 6px 1px;
	background-repeat: no-repeat;
	background-size: 48px 48px;
	background-color: #c69501;
	color: #FFFFFF;
}

.league-home-details {
	text-align: center;
	padding: 0 20px;
}

.league-link {
	display: inline-block;
}

.my-pairing {
	height: 80px;
	border: 1px solid #e3e3e3;
}

.my-pairing .league-icon.blue {
	width: 85px;
	background: url(/static/tournament/img/all-for-one.png);
	background-position: 6px 1px;
	background-repeat: no-repeat;
	background-size: 75px 75px;
	background-color: #245164;
}

.my-pairing .league-icon.green {
	width: 85px;
	background: url(/static/tournament/img/wolf-head.png);
	background-position: 6px 1px;
	background-repeat: no-repeat;
	background-size: 75px 75px;
	background-color: #225622;
}

.my-pairing .league-icon.red {
	width: 85px;
	background: url(/static/tournament/img/power-lightning.png);
	background-position: 6px 1px;
	background-repeat: no-repeat;
	background-size: 75px 75px;
	background-color: #562222;
}

.my-pairing .details {
	display: inline-block;
	padding: 10px;
}

.my-pairing .round {
	display: block;
	font-weight: 600;
}

.my-pairing .players {
	display: block;
}

.my-pairing .result {
	float: right;
}

.navbar-brand {
	padding-right: 5px;
}

#table-lone-standings thead th {
	white-space: nowrap;
}

#table-lone-standings .temporary-rank .rank-value {
	color: #999;
}

.lone-pairings-row {
	max-width: 900px;
}

#table-lone-pairings tr > td:nth-child(2),
#table-lone-pairings tr > td:nth-child(5) {
	width: 30px;
}
#table-lone-pairings tr > td:nth-child(5) {
	margin-left: 10px;
}
#table-lone-pairings tr > td:nth-child(3),
#table-lone-pairings tr > td:nth-child(6) {
	width: 16px;
}

#table-lone-pairings img {
	vertical-align: top;
	padding-top: 3px;
}

#table-notifications {
	max-width: 600px;
}

#table-notifications td {
	white-space: nowrap;
}

#table-notifications label {
	font-weight: normal;
	padding-left: 5px;
	vertical-align: middle;
}

.player-gold {
	background-color: #ffd700;
}

.player-silver {
	background-color: #c0c0c0;
}

.player-bronze {
	background-color: #cd7f32;
}

.player-blue {
	background-color: #7bbcf2;
}

.player-gold a,
.player-silver a,
.player-bronze a,
.player-blue a {
	color: black;
}

.table-menu {
	text-align: right;
}

.table-menu .dropdown-toggle {
	color: black;
	padding: 5px 4px 5px 2px;
}

.table-menu .dropdown-toggle:hover {
	background-color: #ddd;
}

#table-availability {
	width: auto;
}

#table-availability input {
	display: none;
}

#table-availability tbody td {
	min-width: 115px;
	height: 48px;
}

#table-availability tbody td:nth-child(1) {
	min-width: auto;
}

@media (min-width: 768px) {
	.podium {
		display: flex;
	}
	.podium > div {
		display: inline-block;
		width: 33.33%;
		margin: 0;
	}
	.podium .first-place {
		order: 2;
		margin-top: auto;
	}
	.lone-podium .first-place {
		margin-bottom: -4px;
	}
	.podium .second-place {
		order: 1;
		margin-top: auto;
	}
	.podium .third-place {
		order: 3;
		margin-top: auto;
	}
	.podium .u1600-winner {
		order: 4;
		margin: auto -2% 0 -7%;
	}
	#home-container {
		align-items: center;
		display: flex;
		justify-content: center;
	}
	.nav > .league-dropdown {
		margin-left: 0;
		margin-right: 10px;
	}

	.nav > .league-dropdown > a {
		padding-left: 3px;
		padding-right: 5px;
	}

	#table-team-pairings {
		table-layout: fixed;
	}
}
@media (max-width: 991px) {
	.row-condensed-sm > * {
		padding-left: 0px;
		padding-right: 0px;
	}
	.table-condensed-sm > thead > tr > th,
	.table-condensed-sm > tbody > tr > th,
	.table-condensed-sm > tfoot > tr > th,
	.table-condensed-sm > thead > tr > td,
	.table-condensed-sm > tbody > tr > td,
	.table-condensed-sm > tfoot > tr > td {
	  padding: 4px 6px 4px 6px;
	}
	.table-responsive .table-condensed-sm th,
	.table-responsive .table-condensed-sm td {
		white-space: nowrap;
	}
	#table-rosters {
		table-layout: auto;
	}
	#table-rosters .cell-player.captain .player-name {
		max-width: 100%;
	}
}
@media (max-width: 767px) {
	body {
		margin-bottom: 50px;
	}
	.row-condensed-xs > * {
		padding-left: 0px;
		padding-right: 0px;
	}
	.table-condensed-xs > thead > tr > th,
	.table-condensed-xs > tbody > tr > th,
	.table-condensed-xs > tfoot > tr > th,
	.table-condensed-xs > thead > tr > td,
	.table-condensed-xs > tbody > tr > td,
	.table-condensed-xs > tfoot > tr > td {
	  padding: 4px 6px 4px 6px;
	}

	.pairing-player {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		max-width: 120px;
	}
	#home-league-list {
		max-width: 350px;
	}

	.document-content ul, .document-content ol {
		padding-left: 30px;
	}

	.table-stats {
		table-layout: auto;
	}

	.round-switcher:first-child {
		margin-left: -5px;
	}

	.league-homelink-green {
		background-position: 5px 0px;
	}

	#table-team-pairings .cell-score {
		width: auto;
		min-width: 25px;
	}
}
