.input-mini {
  width: 60px;
}

.input-small {
  width: 90px;
}

.input-medium {
  width: 150px;
}

.input-large {
  width: 210px;
}

.input-xlarge {
  width: 270px;
}

.input-xxlarge {
  width: 530px;
}

.bottom-space {
	margin-bottom: 10px;
}

div.inline {
	display: inline-block;
}

.round-switcher {
	display: inline-block;
	position: relative;
	top: -6px;
	margin-bottom: 5px;
	margin-right: 5px;
}

.header-row {
	background-color: rgb(249, 249, 249)
}

#table-rosters thead>tr>th {
	white-space: nowrap;
}

#table-crosstable tbody>tr>td, #table-crosstable thead>tr>th {
	white-space: nowrap;
}

#table-crosstable .cell-score {
	border: 1px solid black;
}

#table-crosstable .cell-score a {
	display: block;
	width: 100%;
	height: 100%;
	color: rgb(51, 51, 51);
}

#table-crosstable .cell-score, #table-crosstable .cell-teamnumber {
	width: 37px;
	min-width: 30px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
}

#table-crosstable .cell-teamnumber {
	font-weight: bold;
}

.pairings-row {
	max-width: 1250px;
}

.cell-win {
	background-color: #b7e1cd;
}

.cell-loss {
	background-color: #f4c7c3;
}

.cell-tie {
	background-color: #fce8b2;
}

.cell-cross {
	background-color: #c9daf8;
}

.document-content {
	padding: 5px;
}

.document-edit {
	position: relative;
	top: -7px;
	margin-left: 10px;
}

.well-head .document-edit {
	top: -4px;
}

.well .table {
	background-color: white;
}

.well h3 {
	margin-top: 10px;
}

.slack-icon-btn {
	width: 18px;
	height: 18px;
	margin-left: -3px;
	margin-top: -2px;
}

.slack-icon-plain {
	width: 18px;
	height: 18px;
	margin-top: -3px;
	margin-left: -3px;
	margin-right: -4px;
}

.slack-icon-text {
	width: 18px;
	height: 18px;
	margin-top: -2px;
}

.table-round-results {
	table-layout: fixed;
}

.table-round-results .cell-score {
	width: 40px;
	text-align: center;
}

.table-round-results > tbody > tr:last-child > td {
	border-bottom: 1px solid #ddd;
}

.table-round-results > tbody > tr > td:first-child {
	border-left: 1px solid #ddd;
}

.table-round-results > tbody > tr > td:last-child {
	border-right: 1px solid #ddd;
}

#content {
	max-width: 1600px;
	margin-left: 0;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 50px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #f5f5f5;
}

.footer .text-muted {
	text-align: center;
	margin: 15px 0;
}

#table-match-result {
	max-width: 500px;
	table-layout: fixed;
}
	
#table-match-result tr th:nth-child(2) {
	text-align: center;
	width: 80px;
}

#table-match-result tr th:nth-child(3) {
	text-align: right;
}

#table-match-result tr td:nth-child(2), #table-match-result tr td:nth-child(3) {
	width: 40px;
	text-align: center;
}

#table-match-result tr td:nth-child(4) {
	text-align: right;
}

#table-match-result a {
	color: rgb(51, 51, 51);
}

#table-match-result .cell-score a {
	display: block;
	width: 100%;
	height: 100%;
}

#well-register {
	max-width: 900px;
}

.home-row {
	max-width: 1250px;
}

#table-rosters {
	table-layout: fixed;
}

#table-rosters .cell-rating {
	width: 45px;
	text-align: center;
}

#table-rosters .cell-average-rating {
	width: 80px;
	text-align: center;
}

#table-rosters .cell-player {
	text-overflow: ellipsis;
	white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 992px) {
	.row-condensed-sm > * {
		padding-left: 0px;
		padding-right: 0px;
	}
	.table-condensed-sm > thead > tr > th,
	.table-condensed-sm > tbody > tr > th,
	.table-condensed-sm > tfoot > tr > th,
	.table-condensed-sm > thead > tr > td,
	.table-condensed-sm > tbody > tr > td,
	.table-condensed-sm > tfoot > tr > td {
	  padding: 4px 6px 4px 6px;
	}
	.table-responsive .table-condensed-sm th,
	.table-responsive .table-condensed-sm td {
		white-space: nowrap;
	}
	#table-rosters {
		table-layout: auto;
	}
}
@media (max-width: 768px) {
	body {
		margin-bottom: 50px;
	}
	h2 {
		margin-top: 2px;
	}
	.row-condensed-xs > * {
		padding-left: 0px;
		padding-right: 0px;
	}
	.table-condensed-xs > thead > tr > th,
	.table-condensed-xs > tbody > tr > th,
	.table-condensed-xs > tfoot > tr > th,
	.table-condensed-xs > thead > tr > td,
	.table-condensed-xs > tbody > tr > td,
	.table-condensed-xs > tfoot > tr > td {
	  padding: 4px 6px 4px 6px;
	}

	.pairing-player {
		text-overflow: ellipsis;
		white-space: nowrap;
	    overflow: hidden;
	    max-width: 120px;
	}
}
