.input-mini {
  width: 60px;
}

.input-small {
  width: 90px;
}

.input-medium {
  width: 150px;
}

.input-large {
  width: 210px;
}

.input-xlarge {
  width: 270px;
}

.input-xxlarge {
  width: 530px;
}

.bottom-space {
	margin-bottom: 20px;
}

div.inline {
	display: inline-block;
}

.round-switcher {
	display: inline-block;
	position: relative;
	top: -5px;
	margin-left: 10px;
}