.navbar {
	background-color: #245164;
}

.navbar .navbar-brand {
	padding-left: 59px;
	background: url(/static/tournament/img/all-for-one.png);
	background-position: 5px 0px;
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .navbar-nav > li > a {
	color: #ffffff;
}

.navbar .navbar-nav > li.active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
	background-color: #557f97;
	color: #ffffff;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
	background-color: #3c687d;
	color: #ffffff;
}

.navbar .navbar-nav .dropdown-menu {
	border-color: #245164;
}

.navbar .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
	background-color: #3c687d;
}


.well {
	padding: 0;
}

.well-head {
	background-color: #557f97;
	color: #ffffff;
	padding: 3px 15px 3px 15px;
}

.well-head h3 {
	font-size: 18px;
}

.well-body {
	padding: 15px;
	background-color: #ffffff;
}

.well-body > :last-child {
	margin-bottom: 0;
}


.btn-primary {
	background: linear-gradient(#557f97, #355f77);
	color: #ffffff;
}

.btn-default {
	background: linear-gradient(#f9f9f9, #d9d9d9);
	color: #000000;
}

.btn-default:hover,
.btn-default:focus {
	color: #000000;
}


@media (max-width: 768px) {
	.row-condensed-xs .well {
		border-radius: 0;
	}
	.row-condensed-xs .well-body > .table-condensed-xs {
		margin-left: -15px;
		min-width: calc(100% + 30px);
	}
	.row-condensed-xs .well-body > .table-responsive {
		margin-left: -15px;
		min-width: calc(100% + 30px);
	}
	
	.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar .navbar-nav .open .dropdown-menu > li > a:focus {
		background-color: #3c687d;
		color: #ffffff;
	}
	
	.navbar .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
}
@media (max-width: 992px) {
	.row-condensed-sm .well {
		border-radius: 0;
	}
	.row-condensed-sm .well-body > .table-condensed-sm {
		margin-left: -15px;
		min-width: calc(100% + 30px);
	}
	.row-condensed-sm .well-body > .table-responsive {
		margin-left: -15px;
		min-width: calc(100% + 30px);
	}
}
