:80 {
    root * /public

    @notStatic {
        not file {
            try_files {path}
        }
    }

    handle_path /v2/api/* {
        reverse_proxy api:8001
    }

    handle /v2/* {
        reverse_proxy ui:3000
    }

    handle {
        reverse_proxy @notStatic web:8000
        file_server
    }
}
