{% load comments i18n %}
<form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}" />
    {% for field in form %}
        {% if field.is_hidden %}
            {{ field }}
        {% else %}
            {% if field.name != "name" and field.name != "email" and field.name != "url" %}
                {% if field.errors %}{{ field.errors }}{% endif %}
                <p {% if field.errors %} class="error"{% endif %} {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                {{ field }}
                </p>
            {% endif %}
        {% endif %}
    {% endfor %}
    <input type="submit" name="post" class="submit-post" value="{% trans "Add Comment" %}" />
</form>
