{% extends "tournament/admin/custom_edit_workflow.html" %}

{% block content %}
<form action="" method="post">
	{% csrf_token %}
	
	<div class="aligned-text">
	
	    <p>The following registration will be <span class="text-approved">approved</span>:</p>
	    
		<div class="form-row">
			<label>Season name:</label>
		    {{ original.season.name }}
		</div>
		
		<div class="form-row">
			<label>Registration date:</label>
		    {{ original.date_created }}
		</div>
		
		<div class="form-row">
			<label>Lichess username:</label>
		    {{ original.lichess_username }}
		</div>
		
		<div class="form-row">
			<label>Slack username:</label>
		    {{ original.slack_username }}
		</div>
		
		<div class="form-row">
			<label>Email:</label>
		    {{ original.email }}
		</div>
	
	</div>
	
	<div class="actions">
	    <div class="action-checkbox">
			{{ form.invite_to_slack }}
	    	<label for="{{ form.invite_to_slack.id_for_label }}">Invite <span class="text-email">{{ original.email }}</span> to Slack</label>
		</div>
		
	    <div class="action-checkbox">
			{{ form.send_confirm_email }}
	    	<label for="{{ form.send_confirm_email.id_for_label }}">Send a confirmation email to <span class="text-email">{{ original.email }}</span></label>
		</div>
	</div>
	
	<div class="submit-row">
		<input class="default" value="CONFIRM" name="confirm" type="submit">
		<input value="Review" name="review" type="submit">
	</div>
</form>
{% endblock %}
