{% extends "tournament/admin/custom_edit_workflow.html" %}

{% block content %}
Create new teams for season {{ season }}.  This will completely delete all teams and alternates and recreate them
according to the algorithm in `create_teams.py`.
<form action="" method="post">
    {% csrf_token %}
    <div class="aligned">
        <div class="form-row">
            {{ form.boards.label_tag }}
            {{ form.boards }}
        </div>
        <div class="form-row">
            {{ form.balance.label_tag }}
            {{ form.balance }}
        </div>
        <div class="form-row">
            {{ form.count.label_tag }}
            {{ form.count }}
        </div>
    </div>
    <div class="submit-row">
        <input class="default" value="Create Teams" name="confirm" type="submit">
    </div>
</form>
{% endblock %}
