{% extends "tournament/admin/custom_edit_workflow.html" %}
{% load staticfiles tournament_extras %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{% static 'lib/css/bootstrap-popover.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'lib/js/bootstrap-popover.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tournament/js/edit_rosters.js' %}?v=5"></script>
<link rel="stylesheet" href="{% static 'tournament/css/edit_rosters.css' %}?v=1">
{% endblock %}

{% block content %}
<form action="" method="post" id="form-edit-rosters">
	{% csrf_token %}
	{{ form.changes }}
	<p>Drag and drop to move players. Click on players for more info or to set the captain.{% if not teams_locked %} Click on team names to edit.{% endif %} <span style="color: #c00">Red</span> = not in slack, &lt;20 games or 2+ missed games. <span style="color: #00c">Blue</span> = prefers to be an alternate. <span style="color: #c0f">Purple</span> = alternate last season.</p>
	<p>Show: {{ form.rating_type }}</p>
	<h2>Teams</h2>
	<table id="table-edit-rosters" data-boards="{{ board_count }}">
		<thead>
			<tr>
				<th>Team</th>
				{% for board_number in board_numbers %}
				<th>Board {{ board_number }}</th>
				{% endfor %}
				<th>Average</th>
				<th>Expected</th>
			</tr>
		</thead>
		<tbody>
			{% for team in teams %}
			<tr class="team" data-number="{{ team.number }}">
				<td>
					<span class="team-name{% if not teams_locked %} team-name-editable{% endif %}">{{ team.name }}</span>
				</td>
				{% for board_number, board in team.boards %}
				<td data-board="{{ board_number }}">
					{% if board %}
						<span class="player{% if board.player in red_players %} player-red{% elif board.player in blue_players %} player-blue{% elif board.player in purple_players %} player-purple{% endif %}"
						      data-url="{% leagueurl 'player_profile' original.league.tag original.tag board.player.lichess_username %}"
						      data-info-url="{% url 'admin:edit_rosters_player_info' original.pk board.player.lichess_username %}"
						      data-rating="{{ board.player.rating }}"
						      data-exp-rating="{{ expected_ratings|get_item:board.player }}"
						      data-toggle="popover">
							<span class="name">{{ board.player.lichess_username }}</span>
							(<span class="rating"></span>)
							<span class="extra">{% if board.is_captain %}(C){% elif board.is_vice_captain %}(V){% endif %}</span>
						</span>
					{% endif %}
				</td>
				{% endfor %}
				<td>
					<span class="average-rating"></span>
				</td>
				<td>
					<span class="average-exp-rating"></span>
				</td>
			</tr>
			{% endfor %}
			{% if not teams_locked %}
			<tr class="team new-team new-team-template" data-number="{{ new_team_number }}">
				<td>
					<span class="team-name{% if not teams_locked %} team-name-editable{% endif %}">Team {{ new_team_number }}</span>
				</td>
				{% for board_number in board_numbers %}
				<td data-board="{{ board_number }}">
				</td>
				{% endfor %}
				<td>
					<span class="average-rating"></span>
				</td>
				<td>
					<span class="average-exp-rating"></span>
				</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
	
	<h2>Alternates</h2>
	<table id="table-alternates" data-boards="{{ board_count }}">
		<thead>
			<tr>
				<th>&nbsp;</th>
				{% for board_number in board_numbers %}
				<th>Board {{ board_number }}</th>
				{% endfor %}
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>&nbsp;</td>
				{% for board_number, alternates in alternates_by_board %}
				<td data-board="{{ board_number }}" class="table-drop">
					<table>
						{% for alt in alternates %}
						<tr>
							<td>
								<span class="player{% if alt.season_player.player in red_players %} player-red{% elif alt.season_player.player in blue_players %} player-blue{% elif alt.season_player.player in purple_players %} player-purple{% endif %}"
								      data-url="{% leagueurl 'player_profile' original.league.tag original.tag alt.season_player.player.lichess_username %}"
								      data-info-url="{% url 'admin:edit_rosters_player_info' original.pk alt.season_player.player.lichess_username %}"
						      		  data-rating="{{ alt.season_player.player.rating }}"
						      	      data-exp-rating="{{ expected_ratings|get_item:alt.season_player.player }}"
								      data-toggle="popover">
									<span class="name">{{ alt.season_player.player.lichess_username }}</span>
									(<span class="rating"></span>)
									<span class="extra"></span>
								</span>
							</td>
						</tr>
						{% endfor %}
					</table>
				</td>
				{% endfor %}
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	
	<h2>Unassigned</h2>
	<table id="table-unassigned" data-boards="{{ board_count }}">
		<thead>
			<tr>
				<th>&nbsp;</th>
				{% for board_number in board_numbers %}
				<th>&nbsp;</th>
				{% endfor %}
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>&nbsp;</td>
				{% for board_number, player_list in unassigned_by_board %}
				<td class="table-drop">
					<table>
						{% for player in player_list %}
						<tr>
							<td>
								<span class="player{% if player in red_players %} player-red{% elif player in blue_players %} player-blue{% elif player in purple_players %} player-purple{% endif %}"
								      data-url="{% leagueurl 'player_profile' original.league.tag original.tag player.lichess_username %}"
						      	      data-rating="{{ player.rating }}"
								      data-info-url="{% url 'admin:edit_rosters_player_info' original.pk player.lichess_username %}"
						              data-exp-rating="{{ expected_ratings|get_item:player }}"
								      data-toggle="popover">
									<span class="name">{{ player.lichess_username }}</span>
									(<span class="rating"></span>)
									<span class="extra"></span>
								</span>
							</td>
						</tr>
						{% endfor %}
					</table>
				</td>
				{% endfor %}
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	
	<div class="submit-row">
		<input class="default" value="Save" name="save" type="submit">
		<input value="Save and continue editing" name="save_continue" type="submit">
	</div>
</form>
<img id='spinner-template' src="{% static 'tournament/img/spinner.gif' %}" style='display:none' />
{% endblock %}
