{% load staticfiles tournament_extras comments %}

<table class="table-player-info">
<tr><td>Rating:</td><td>{{ player.rating }}</td></tr>
{% if reg %}
<tr><td>Peak Rating:</td><td>{{ reg.peak_classical_rating }}</td></tr>
<tr><td>Registration date:</td><td>{{ reg.date_created.date }}</td></tr>
<tr><td>Friends:</td><td>{{ reg.friends }}</td></tr>
<tr><td>Alt Pref:</td><td>{{ reg.get_alternate_preference_display }}</td></tr>
{% endif %}
<tr><td>20 games:</td><td>{{ has_played_20_games|yesno:'Yes,No' }}</td></tr>
<tr><td>In slack group:</td><td>{{ player.in_slack_group|yesno:'Yes,No' }}</td></tr>
<tr><td>Missed games:</td><td>{{ season_player.games_missed }}</td></tr>
{% get_comment_list for player as comments %}
{% if comments %}
<tr><td>{% render_comment_list for player %}</td></tr>
{% endif %}
<tr><td colspan="2"><input type="checkbox" class="captain-checkbox" id="captain" /><label for="captain">Captain</label></div></td></tr>
<tr><td colspan="2"><input type="checkbox" class="vice-captain-checkbox" id="vice-captain" /><label for="vice-captain">Vice captain</label></td></tr>
</table>
