{% extends "tournament/admin/custom_edit_workflow.html" %}
{% load staticfiles tournament_extras %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'tournament/js/common.js' %}"></script>
{% endblock %}

{% block content %}
<h2>Missing withdrawals</h2>
<p>Anyone here that hasn't been in contact with the mods should be withdrawn.</p>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for player in missing_withdrawals %}
		<tr>
			<td><a href="{% leagueurl 'player_profile' original.league.tag original.tag player.lichess_username %}">{{ player.lichess_username }}</a></td>
			<td>
				<a href="{% url 'admin:tournament_playerwithdrawal_add' %}?_popup=1&round={{ next_round.pk }}&player={{ player.pk }}" id="add-playerwithdrawal" class="inline-create-link popup-link" title="Add player withdrawal">
		            <img src="{% static 'admin/img/icon-addlink.svg' %}" alt="Add"> Withdraw
		        </a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<h2>Bad player status</h2>
<p>These players should always be withdrawn.</p>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Account Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for player in bad_player_status %}
		<tr>
			<td><a href="{% leagueurl 'player_profile' original.league.tag original.tag player.lichess_username %}">{{ player.lichess_username }}</a></td>
			<td>{{ player.get_account_status_display }}</td>
			<td>
				<a href="{% url 'admin:tournament_playerwithdrawal_add' %}?_popup=1&round={{ next_round.pk }}&player={{ player.pk }}" id="add-playerwithdrawal" class="inline-create-link popup-link" title="Add player withdrawal">
		            <img src="{% static 'admin/img/icon-addlink.svg' %}" alt="Add"> Withdraw
		        </a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<h2>Registrants not on Slack</h2>
<p>Move these to the next round or delete if enough time has passed.</p>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Days Since Approval</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for player, latereg, days in not_on_slack %}
		<tr>
			<td><a href="{% leagueurl 'player_profile' original.league.tag original.tag player.lichess_username %}">{{ player.lichess_username }}</a></td>
			<td>{{ days|default_if_none:'Already active' }}</td>
			<td>
				{% if latereg %}
				<a href="{% url 'admin:tournament_playerlateregistration_change' latereg.pk %}?_popup=1" id="change-playerlateregistration-{{ latereg.pk }}" class="change-link popup-link" title="Change selected player late registration">
		            <img src="{% static 'admin/img/icon-changelink.svg' %}" alt="Change">
		        </a>
		        {% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<h2>Pending registrations</h2>
<p>Try and process registrations in advance.</p>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for lichess_username, reg in pending_regs %}
		<tr>
			<td><a href="{% leagueurl 'player_profile' original.league.tag original.tag lichess_username %}">{{ lichess_username }}</a></td>
			<td>
			    {% if reg.validation_warning == True %}
			    <img src="{% static 'admin/img/icon-alert.svg' %}"/>
			    {% elif reg.validation_ok == True %}
			    <img src="{% static 'admin/img/icon-yes.svg' %}"/>
			    {% elif reg.validation_ok == False %}
			    <img src="{% static 'admin/img/icon-no.svg' %}"/>
			    {% endif %}
		    </td>
			<td>
				<a href="{% url 'admin:review_registration' reg.pk %}">
		            Review
		        </a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<h2>Pairings without results</h2>
<p>Search slack for each player name. If you don't find anything relevant, contact them or just give 0-0.</p>
<table>
	<thead>
		<tr>
			<th>White</th>
			<th>Black</th>
			<th>Time</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for pairing, text_class in pairings_wo_results %}
		<tr>
			<td>
				{% if pairing.white %}
				<a href="{% leagueurl 'player_profile' original.league.tag original.tag pairing.white.lichess_username %}">
					{{ pairing.white.lichess_username }}
				</a>
				{% endif %}
			</td>
			<td>
				{% if pairing.black %}
				<a href="{% leagueurl 'player_profile' original.league.tag original.tag pairing.black.lichess_username %}">
					{{ pairing.black.lichess_username }}
				</a>
				{% endif %}
			</td>
			<td>
				<span class="{{ text_class }}">
			    	{{ pairing.scheduled_time | date:"m/d H:i" | default_if_none:"" }}
				</span>
		    </td>
			<td>
				<a href="{% url 'admin:tournament_playerpairing_change' pairing.pk %}?_popup=1" id="change-pairing-{{ pairing.pk }}" class="popup-link" title="Change selected pairing">
		            <img src="{% static 'admin/img/icon-changelink.svg' %}" alt="Change">
		        </a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
