{% extends "tournament/admin/custom_edit_workflow.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="_changelist_filters" value="{{ changelist_filters }}"/>

        <div class="aligned-text">

            <p>The following registration will be <span class="text-rejected">rejected</span>:</p>

            <div class="form-row">
                <label>Season name:</label>
                {{ original.season.name }}
            </div>

            <div class="form-row">
                <label>Registration date:</label>
                {{ original.date_created }}
            </div>

            <div class="form-row">
                <label>Lichess username:</label>
                {{ original.lichess_username }}
            </div>

            {% if perms.tournament.dox %}
                <div class="form-row">
                    <label>Email:</label>
                    {{ original.email }}
                </div>
            {% endif %}

        </div>

        <div class="submit-row">
            <input class="default" value="CONFIRM" name="confirm" type="submit">
            <input value="Review" name="review" type="submit">
        </div>
    </form>
{% endblock %}
