{% extends "tournament/admin/custom_edit_workflow.html" %}
{% load staticfiles %}
{% load tournament_extras %}

{% block content %}
<form action="" method="post">
	{% csrf_token %}
	<table id="table-pairings">
			{% for pairing_list in pairing_lists %}
			<tr>
				<th>BD</th>
				<th>TEAM</th>
				<th>WHITE</th>
				<th>BLACK</th>
				<th>TEAM</th>
			</tr>
			{% for team_player_pairing in pairing_list %}
			{% with pairing=team_player_pairing.player_pairing %}
			<tr>
				<td>{{ team_player_pairing.board_number }}</td>
				<td>{{ team_player_pairing.white_team_name }}</td>
				<td><div class="pairing-player"><a href="http://lichess.org/@/{{ pairing.white.lichess_username }}">{{ pairing.white.lichess_username }}{% if pairing.white.rating %} ({{ pairing.white.rating }}){% endif %}</a></div></td>
				<td><div class="pairing-player"><a href="http://lichess.org/@/{{ pairing.black.lichess_username }}">{{ pairing.black.lichess_username }}{% if pairing.black.rating %} ({{ pairing.black.rating }}){% endif %}</a></div></td>
				<td>{{ team_player_pairing.black_team_name }}</td>
			</tr>
			{% endwith %}
			{% endfor %}
			{% endfor %}
		</table>
	<div class="submit-row">
		<input class="default" value="Publish" name="publish" type="submit">
		<input value="Delete" name="delete" type="submit">
	</div>
</form>
{% endblock %}