{% extends "tournament/admin/custom_edit_workflow.html" %}
{% load staticfiles tournament_extras %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'tournament/js/common.js' %}"></script>
{% endblock %}

{% block content %}
<form action="" method="post">
	{% csrf_token %}
	<table id="table-pairings">
		<thead>
			<tr>
				<th>BD</th>
				<th>#</th>
				<th>WHITE</th>
				<th>#</th>
				<th>BLACK</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for pairing, error in pairings %}
			<tr{% if error %} class="row-error" title="{{ error }}"{% endif %}>
				<td>{{ pairing.pairing_order }}</td>
				<td>{{ pairing.white_rank|default_if_none:'' }}</td>
				<td>
					<div class="pairing-player">
						<a href="{% leagueurl 'player_profile' original.season.league.tag original.season.tag pairing.white.lichess_username %}">
							{{ pairing.white.lichess_username }}{% if pairing.white.rating %} ({{ pairing.white.rating }}){% endif %}
						</a>
					</div>
				</td>
				<td>{{ pairing.black_rank|default_if_none:'' }}</td>
				<td>
					<div class="pairing-player">
						<a href="{% leagueurl 'player_profile' original.season.league.tag original.season.tag pairing.black.lichess_username %}">
							{{ pairing.black.lichess_username }}{% if pairing.black.rating %} ({{ pairing.black.rating }}){% endif %}
						</a>
					</div>
				</td>
				<td>
					<a href="{% url 'admin:tournament_playerpairing_change' pairing.pk %}?_popup=1" id="change-pairing-{{ pairing.pk }}" class="popup-link" title="Change selected pairing">
			            <img src="{% static 'admin/img/icon-changelink.svg' %}" alt="Change">
			        </a>
		        </td>
				<td>
					<a href="{% url 'admin:tournament_playerpairing_delete' pairing.pk %}?_popup=1" id="delete-pairing-{{ pairing.pk }}" class="popup-link" title="Delete selected pairing">
			            <img src="{% static 'admin/img/icon-deletelink.svg' %}" alt="Delete">
			        </a>
		        </td>
			</tr>
			{% endfor %}
			{% for bye, error in byes %}
			<tr{% if error %} class="row-error" title="{{ error }}"{% endif %}>
				<td></td>
				<td>{{ bye.player_rank|default_if_none:'' }}</td>
				<td>
					<div class="pairing-player">
						<a href="{% leagueurl 'player_profile' original.season.league.tag original.season.tag bye.player.lichess_username %}">
							{{ bye.player.lichess_username }}{% if bye.player.rating %} ({{ bye.player.rating }}){% endif %}
						</a>
					</div>
				</td>
				<td></td>
				<td>{{ bye.get_type_display }}</td>
				<td>
					<a href="{% url 'admin:tournament_playerbye_change' bye.pk %}?_popup=1" id="change-bye-{{ bye.pk }}" class="popup-link" title="Change selected bye">
			            <img src="{% static 'admin/img/icon-changelink.svg' %}" alt="Change">
			        </a>
		        </td>
				<td>
					<a href="{% url 'admin:tournament_playerbye_delete' bye.pk %}?_popup=1" id="delete-bye-{{ bye.pk }}" class="popup-link" title="Delete selected bye">
			            <img src="{% static 'admin/img/icon-deletelink.svg' %}" alt="Delete">
			        </a>
		        </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div>
	<a href="{% url 'admin:tournament_loneplayerpairing_add' %}?_popup=1&round={{ round_.pk }}&pairing_order={{ next_pairing_order }}" id="add-pairing" class="create-link popup-link" title="Add pairing">
        <img src="{% static 'admin/img/icon-addlink.svg' %}" alt="Add"> Pairing
    </a>
    </div>
    <div>
	<a href="{% url 'admin:tournament_playerbye_add' %}?_popup=1&round={{ round_.pk }}" id="add-bye" class="create-link popup-link" title="Add bye">
        <img src="{% static 'admin/img/icon-addlink.svg' %}" alt="Add"> Bye
    </a>
    </div>
	<div class="submit-row">
		<input class="default" value="Publish" name="publish" type="submit">
		<input value="Delete" name="delete" type="submit">
	</div>
</form>
{% endblock %}
