.document-content {
    padding: 5px;
    line-height: 180%;
}
.document-content > :last-child {
    margin-bottom: 0;
}
.document-edit {
    position: relative;
    top: -7px;
    margin-left: 10px;
}
.well-head .document-edit {
    top: -4px;
}