//== Core CSS
//## Forms


.input-mini {
    max-width: 60px;
}

.input-small {
    max-width: 90px;
}

.input-medium {
    max-width: 150px;
}

.input-large {
    max-width: 210px;
}

.input-xlarge {
    max-width: 270px;
}

.input-xxlarge {
    max-width: 530px;
}