//== Components
//## Loader
.lazyloading {
    min-width: 100%;
    opacity: 0;
}

.lazyload {
    opacity: 0;
    transition: all 700ms;
    transform: scale(.8);
}
.lazyloaded {
    opacity: 1;
    transition: all 700ms;
    transform: scale(1);
}