//== Components
//## Navigation

.navbar-brand {
    padding-right: 5px;
}
.navbar {
    margin-bottom: 2rem;
    .navbar-toggler {
        color: $navbar-dark-color;
        border-color: $navbar-dark-toggler-border-color;
    }

    .navbar-toggler-icon {
        background-image: $navbar-dark-toggler-icon-bg;
    }
}