.player-profile-row {
    max-width: 1200px;
}

.player-profile-row .well-body {
    overflow: auto;
}

.player-profile-section {
    margin-bottom: 10px;
}

.player-profile-section table td {
    padding-right: 10px;
    white-space: nowrap;
}