.header-row {
    background-color: rgb(249, 249, 249);
}
#table-rosters thead > tr > th {
    white-space: nowrap;
}

#table-rosters .cell-alternates {
    padding-top: 37px;
}

#table-rosters tbody tr td.cell-player {
    border-left: 1px solid #ddd;
}

#table-rosters tbody tr td.cell-rating {
    width: 50px;
    border-right: 1px solid #ddd;
}

#table-crosstable tbody > tr > td,
#table-crosstable thead > tr > th {
    white-space: nowrap;
}

#table-crosstable .cell-score {
    border: 1px solid black;
}

#table-crosstable .cell-score,
#table-crosstable .cell-teamnumber {
    width: 37px;
    min-width: 30px;
    padding-right: 4px;
    padding-left: 4px;
    text-align: center;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table .cell-score {
    vertical-align: middle;
}

.cell-score a {
    display: block;
    width: 100%;
    height: 100%;
    color: rgb(51, 51, 51);
}

.cell-teamnumber {
    font-weight: bold;
}

.pairings-row {
    max-width: 800px;
}

.download-games,
.download-games img {
    width: 10px;
}
.download-games img {
    margin-top: -3px;
}

.cell-win {
    background-color: #b7e1cd;
}

.cell-loss {
    background-color: #f4c7c3;
}

.cell-tie {
    background-color: #fce8b2;
}

.cell-cross {
    background-color: #c9daf8;
}

.row-error,
.table > tbody > tr.row-error {
    background-color: #fffcab;
}
.table-round-results {
    table-layout: fixed;
}

.table-round-results .cell-score {
    width: 40px;
    text-align: center;
}

.table-round-results > tbody > tr:last-child > td {
    border-bottom: 1px solid #ddd;
}

.table-round-results > tbody > tr > td:first-child {
    border-left: 1px solid #ddd;
}

.table-round-results > tbody > tr > td:last-child {
    border-right: 1px solid #ddd;
}

#table-team-pairings th {
    font-weight: normal;
    vertical-align: middle;
}

#table-team-pairings .cell-score {
    width: 37px;
    padding-right: 0;
    padding-left: 0;
    font-weight: normal;
    text-align: center;
}

#table-team-pairings .cell-time {
    width: 105px;
}

#table-team-pairings .cell-edit {
    width: 34px;
}

#table-team-pairings .cell-game-result {
    padding: 0;
}

#table-team-pairings .cell-game-result span {
    display: inline-block;
    width: 50%;
    text-align: center;
}

#table-team-pairings .cell-game-result a:hover span {
    text-decoration: underline;
}

#table-team-pairings .cell-score a {
    color: #337ab7;
}

#table-team-pairings .color-dot,
#table-team-pairings .captain {
    color: rgb(51, 51, 51);
}

#table-team-pairings .color-dot.left {
    margin-right: 4px;
}

#table-team-pairings .color-dot.right {
    margin-left: 4px;
}

#table-team-pairings .player-white .color-dot:after {
    font-size: 18px;
    line-height: 14px;
    content: '\25CB';
}

#table-team-pairings .player-black .color-dot:after {
    font-size: 18px;
    line-height: 14px;
    content: '\25CF';
}

#well-register {
    max-width: 900px;
}

#well-contact {
    max-width: 700px;
}

.home-row {
    max-width: 1250px;
}

#table-rosters {
    table-layout: fixed;
}

#table-rosters .cell-rating {
    width: 47px;
    text-align: center;
}

#table-rosters .cell-average-rating {
    width: 80px;
    text-align: center;
}

#table-rosters .cell-player {
    padding-left: 7px;
}

#table-rosters .cell-player .player-name {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}

#table-rosters .cell-player.captain .player-name {
    max-width: calc(100% - 25px);
}

#table-rosters .cell-player.captain:after,
.player-profile-section .captain:after,
.pairings-row .captain:after {
    content: '(C)';
}

#table-alternates > tbody > tr > td {
    padding: 0;
    vertical-align: top;
}

#table-alternates table {
    min-width: 200px;
    margin-bottom: 0;
    table-layout: fixed;
}

#table-alternates table td:nth-child(2) {
    width: 95px;
    padding-left: 0;
    text-align: right;
}

#table-alternates table .cell-player .player-name {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}

.player-unavailable {
    padding-right: 18px;
    background: url(/static/tournament/img/cancel.png);
    background-color: #fc8;
    background-repeat: no-repeat;
    background-position: right 0 top 3px;
    background-size: 14px 14px;
}
.player-unavailable.legend-swatch {
    background-position: right 2px top 3px;
}

.player-unresponsive {
    padding-right: 19px;
    background: url(/static/tournament/img/offline.png);
    background-color: #ffe6e9;
    background-repeat: no-repeat;
    background-position: right 0 top 2px;
    background-size: 15px 16px;
}
.player-unresponsive.legend-swatch {
    background-position: right 1px top 2px;
}

.player-scheduled {
    padding-right: 19px;
    background: url(/static/tournament/img/calendar.png);
    background-color: #ddd6ff;
    background-repeat: no-repeat;
    background-position: right 0 top 3px;
    background-size: 14px 14px;
}
.player-scheduled.legend-swatch {
    background-position: right 2px top 2px;
}

.player-yellow-card {
    padding-right: 18px;
    background: url(/static/tournament/img/yellow-card.png);
    background-color: #fffcab;
    background-repeat: no-repeat;
    background-position: right 0 top 2px;
    background-size: 16px 16px;
}
.player-yellow-card.legend-swatch {
    background-position: right 1px top 2px;
}

.player-red-card {
    padding-right: 18px;
    background: url(/static/tournament/img/yellow-card-filled.png);
    background-color: #ffabab;
    background-repeat: no-repeat;
    background-position: right 0 top 2px;
    background-size: 16px 16px;
}
.player-red-card.legend-swatch {
    background-position: right 1px top 2px;
}

.with-yellow-card:after {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    vertical-align: middle;
    content: '';
    background: url(/static/tournament/img/yellow-card.png);
    background-color: #fffcab;
    background-repeat: no-repeat;
    background-position: right 0 top 2px;
    background-size: 18px 18px;
}
.with-red-card:after {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    vertical-align: middle;
    content: '';
    background: url(/static/tournament/img/yellow-card-filled.png);
    background-color: #ffabab;
    background-repeat: no-repeat;
    background-position: right 0 top 2px;
    background-size: 18px 18px;
}

.legend-swatch {
    width: 20px;
    min-width: 20px;
    height: 20px;
    border: 1px solid #ddd;
}

.legend-label {
    padding-right: 20px;
    padding-left: 10px;
    white-space: nowrap;
}

.table-stats {
    max-width: 700px;
    table-layout: fixed;
}

.table-board-scores {
    max-width: 500px;
}

#table-lone-standings thead th {
    white-space: nowrap;
}

#table-lone-standings .temporary-rank .rank-value {
    color: #999;
}

.lone-pairings-row {
    max-width: 900px;
}

#table-lone-pairings tr > td:nth-child(2),
#table-lone-pairings tr > td:nth-child(5) {
    width: 30px;
}
#table-lone-pairings tr > td:nth-child(5) {
    margin-left: 10px;
}
#table-lone-pairings tr > td:nth-child(3),
#table-lone-pairings tr > td:nth-child(6) {
    width: 16px;
}

#table-lone-pairings img {
    padding-top: 3px;
    vertical-align: top;
}

#table-notifications {
    max-width: 600px;
}

#table-notifications td {
    white-space: nowrap;
}

#table-notifications label {
    padding-left: 5px;
    font-weight: normal;
    vertical-align: middle;
}

.player-gold {
    background-color: #ffd700;
}

.player-silver {
    background-color: #c0c0c0;
}

.player-bronze {
    background-color: #cd7f32;
}

.player-blue {
    background-color: #7bbcf2;
}

.player-gold a,
.player-silver a,
.player-bronze a,
.player-blue a {
    color: black;
}

.table-menu {
    text-align: right;
}

.table-menu .dropdown-toggle {
    padding: 5px 4px 5px 2px;
    color: black;
}

.table-menu .dropdown-toggle:hover {
    background-color: #ddd;
}

#table-availability {
    width: auto;
}

#table-availability input {
    display: none;
}

#table-availability tbody td {
    min-width: 115px;
    height: 48px;
}

#table-availability tbody td:nth-child(1) {
    min-width: auto;
}

@media (max-width: 991px) {
    .row-condensed-sm > * {
        padding-right: 0;
        padding-left: 0;
    }
    .table-condensed-sm > thead > tr > th,
    .table-condensed-sm > tbody > tr > th,
    .table-condensed-sm > tfoot > tr > th,
    .table-condensed-sm > thead > tr > td,
    .table-condensed-sm > tbody > tr > td,
    .table-condensed-sm > tfoot > tr > td {
        padding: 4px 6px 4px 6px;
    }
    .table-responsive .table-condensed-sm th,
    .table-responsive .table-condensed-sm td {
        white-space: nowrap;
    }
    #table-rosters {
        table-layout: auto;
    }
    #table-rosters .cell-player.captain .player-name {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .table {
        font-size: $font-size-sm;
    }
    body {
        margin-bottom: 50px;
    }
    .row-condensed-xs > * {
        padding-right: 0;
        padding-left: 0;
    }
    .table-condensed-xs > thead > tr > th,
    .table-condensed-xs > tbody > tr > th,
    .table-condensed-xs > tfoot > tr > th,
    .table-condensed-xs > thead > tr > td,
    .table-condensed-xs > tbody > tr > td,
    .table-condensed-xs > tfoot > tr > td {
        padding: 4px 6px 4px 6px;
    }

    .pairing-player {
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #home-league-list {
        max-width: 350px;
    }

    .document-content ul,
    .document-content ol {
        padding-left: 30px;
    }

    .table-stats {
        table-layout: auto;
    }

    .round-switcher:first-child {
        margin-left: -5px;
    }

    .league-homelink-green {
        background-position: 5px 0;
    }

    #table-team-pairings .cell-score {
        width: auto;
        min-width: 25px;
    }
}