{% load tournament_extras %}
<p>Dear {{ reg.lichess_username }},</p>

<p>
    We regret to inform you that your registration for the Lichess4545 League has been found to be ineligible under our <a href="https://www.lichess4545.com/team4545/document/terms-of-service/#eligibility">current rules</a>.
</p>

<p>
    Unfortunately we cannot provide any further details, but we nevertheless appreciate your interest in the league, and encourage you to look into other similar leagues such as <a href="http://www.teamleague.org/">FICS Team League</a>, <a href="http://www.team4545league.org/">Team 4545 League</a> or the leagues run by <a href="https://www.chess.com/club/chessdojo">Chess Dojo</a>.
</p>

<p>
    Regards,
    <br/>
    The {{ reg.season.league.name }} Mods
</p>
